#banner_o_spolecnosti {
	background: url("../img/o-spolecnosti-horni-baner.jpg") no-repeat 50% 50%;

	h1 {
		padding: 60px 0;
	}
}

.o-spolecnosti_timeline {
	width: 100%;
	min-height: 730px;
	color: #fff;
	background: url("../img/timeline-bg.png") no-repeat 50% 0;

	@media (max-width: 900px) {
		background: none;
	}

	strong {
		font-size: 18px;
		font-weight: bold;
	}
}

.o-spolecnosti_timeline_box1 {
	position: relative;
	top: 90px;
	width: 45%;
	height: auto;
	background: linear-gradient(to bottom, #62a5e8 0%, #61c2dc 100%);
	padding: 15px;
	float: left;

	img {
		position: absolute;
		top: 10px;
		right: -7px;
	}
}

.o-spolecnosti_timeline_box2 {
	position: relative;
	top: 220px;
	width: 45%;
	height: auto;
	background: linear-gradient(to bottom, #62a5e8 0%, #61c2dc 100%);
	padding: 15px;
	float: right;

	img {
		position: absolute;
		top: 10px;
		left: -7px;
	}
}

.o-spolecnosti_timeline_box3 {
	position: relative;
	top: 220px;
	right: 540px;
	width: 45%;
	height: auto;
	background: linear-gradient(to bottom, #62a5e8 0%, #61c2dc 100%);
	padding: 15px;
	float: left;

	img {
		position: absolute;
		top: 10px;
		right: -7px;
	}
}

.o-spolecnosti_timeline_box4 {
	position: relative;
	top: 160px;
	width: 45%;
	height: auto;
	background: linear-gradient(to bottom, #62a5e8 0%, #61c2dc 100%);
	padding: 15px;
	float: right;

	img {
		position: absolute;
		top: 10px;
		left: -7px;
	}
}

.o-spolecnosti_timeline_box1, .o-spolecnosti_timeline_box2, .o-spolecnosti_timeline_box3, .o-spolecnosti_timeline_box4 {
	@media (max-width: 900px) {
		position: static;
		width: 80%;
		margin: 5px 10%;
		float: none;
	}
}

#udelame_box_spolecnost1 {
	background: url("../img/box-spolecnost1.png");
}

#udelame_box_spolecnost2 {
	background: url("../img/box-spolecnost1.png");
}

#udelame_box_spolecnost3 {
	background: url("../img/box-spolecnost3.png");
}

#udelame_box_spolecnost4 {
	background: url("../img/box-spolecnost4.png");
}

#udelame_box_spolecnost5 {
	background: url("../img/box-spolecnost5.png");
}

#udelame_box_spolecnost6 {
	background: url("../img/box-spolecnost6.png");
}

#udelame_box_spolecnost1:hover, #udelame_box_spolecnost2:hover, #udelame_box_spolecnost3:hover, #udelame_box_spolecnost4:hover, #udelame_box_spolecnost5:hover, #udelame_box_spolecnost6:hover {
    background-image: url(../img/item_pro_klienta_active.jpg);
}

.o-spolecnosti_banner {
	width: 100%;
	min-height: 510px;
	background: url("../img/o_spolocnosti_background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 30px 0;

	.title_box {
		margin-left: 0;
		margin-right: 0;
	}
	.title_decor {
		border-color: #fff;
	} 

	h2 {
		color: #fff !important;
	}

	p, ul, li {
		font-weight: bold;
		color: #fff;
		padding-right: 25px;
	}

	.button {
		/*text-shadow: none;
		color: #01234f !important;
		background: #fff;*/
		margin-top: 20px;
	}
}

.o-spolecnosti_boxy {
	.columns {
		text-align: center;
		> div {
			border-radius: rem-calc(5);
			background: #f5f5f5;
			padding: rem-calc(40 15 20 15);
		}
		@include breakpoint(medium down) {
			margin-bottom: rem-calc(15);
		}
		@include breakpoint(large) {
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
			&:first-child {
				padding-left: rem-calc(0);
			}
			&:last-child {
				padding-right: rem-calc(0);
			}
		}
	}

	strong {
		font-size: 18px;
		font-weight: bold;
		color: #27282e;
	}

	p {
		display: inline-block;
		height: 60px;
		font-size: 16px;
		font-size: 1rem;
		color: #27282e;
		margin-bottom: 5px;
	}

	.button {
		/*text-shadow: none;
		color: #fff;
		background: #62a4e8;
		background: linear-gradient(to bottom, #62a4e8 0%, #61c3dc 100%);*/
	}
}