@charset "UTF-8";

/*

	CYAN = #61c1dd; / rgb(97,193,221);
	DARK = #3b3c44; / rgb(59,60,69);

*/

body {

  margin: 0;

}

header {

  float: left;
  width: 100%;
  height: auto;

  background-color: white;

  position: relative;
  z-index: 9999;

}

#fixed_menu {

  background-color: rgba(255,255,255,0.99);
  position: fixed;
  z-index: 1;

}

#mobile_head_navigation_toogle_section {

  display: none;

}

#mobile_head_navigation_toogle {

  float: right;
  margin: 40px 40px 40px 0;

}

.logo_box {

  float: left;

}

.logo_box img {

  padding: 40px 10px;
  width: 152px;

}

.head_navigation_box {

  float: left;

}

.menu_button_box {

  float: left;

}

.head_navigation_box a {

  float: left;
  padding: 40px 15px;
  text-align: center;
  border-bottom: 3px solid rgba(97,193,221,0.0);
  border-top: 3px solid rgba(97,193,221,0.0);
  margin: 0;

  box-sizing: content-box;

}

.head_navigation_box .actived, .head_navigation_box a:hover {

  border-bottom: 3px solid #61c1dd;

}

.head_navigation_box .right {

  margin-right: 15px;

}

.news_box_shadow {

  box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
  padding: 0 !important;
  border-radius: 5px;

}

.news_box {

  padding: 5%;

}

.margin_right_news_box {

  margin-left: 2%;

}

.margin_left_news_box {

  margin-right: 2%;

}

.sliderik_title {

  text-align: center;
  font-size: 32px;
  color: white !important;
  padding: 40px 0;

}

#sub_menu {

  float: left;
  width: 100%;

  background-color: #3b3c44;

}

#sub_menu a {

  color: white;
  float: left;
  padding: 20px 15px;

  border-bottom: 3px solid rgba(255,255,255,0.0);

}

#sub_menu a:hover, #sub_menu .actived {

  border-bottom: 3px solid rgba(255,255,255,1);

}

.head_navigation_box .actived, .head_navigation_box a:hover {

  border-bottom: 3px solid #61c1dd;

}

.banner {

  float: left;
  width: 100%;
  height: auto;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #61c1dd;

  position: relative;
//  z-index: 9999;  Smatano, prečo?
  h1 {
    font-size: rem-calc(48) !important;
  }

}

#banner_kontakty {background-image: url(../img/kontakt_banner.jpg);}
#banner_download {background-image: url(../img/ke_stazeni_banner.jpg);}
#banner_onas_1 {background-image: url(../img/o_spolecnosti_banner.jpg);}
#banner_onas_2 {background-image: url(../img/o_spolecnosti_banner2.jpg);}
#banner_pro_klienty {background-image: url(../img/pro_klientov_banner.jpg);}
#banner_zpravy {background-image: url(../img/news_banner.jpg);}
#banner_kariera {background-image: url(../img/kariera_banner.jpg);}

.banner h1 {

  padding: 90px 0;
  text-align: center;
  color: white;

}

#page {

  position: relative;
  top: 100%;

}

#head_bannerik {


  background-color: #62abe6;
  color: white;

  text-align: center;

  text-shadow: 2px 2px 2px rgb(0,0,0);

}

.banner_title {

  font-size: 32px;
  padding-top: 18%;
  color: white;

}

.banner_title_small {

  color: white;
  padding: 1% 0;

}

.head_banner a {



}

#head_bannerik article {

  float: left;
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: 100;

}

#head_banner_slide_1 {

  background-image: url(../img/slider1.jpg);

}

#head_banner_slide_2, #head_banner_slide_3, #head_banner_slide_4 {

  display: none;

}

#head_banner_slide_2 {

  background-image: url(../img/slider2.jpg);

}

#head_banner_slide_3 {

  background-image: url(../img/slider3.jpg);

}

#head_banner_slide_4 {

  background-image: url(../img/slider4.jpg);

}

#head_banner_content_section {

  /*position: absolute;*/
 // z-index: 101; Smatano, teraz o tom hovorím, prečo?
  bottom: 0;

}

#head_banner_navigation {

  position: absolute;
  z-index: 101;
  bottom: 25%;

}

.time_bubble {

  display: inline-block;

  width: 16px;
  height: 16px;
  margin: 0 2px;

  background-size: 100% 100%;
  background-image: url(../img/head_banner_nav.png);

  cursor: pointer;

}

.time_bubble.active {

  background-image: url(../img/head_banner_nav_active.png);

}

.sliderik {

  padding: 40px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .invisible {
    position: absolute;
  }
  > .row > .row.center {
    margin-left: 0;
    margin-right: 0;
  }
}

#co_rikaji_backround {

  background-image: url(../img/rikaji_background.jpg);
  margin-top: 50px;
  .column > p.justify {
    border-radius: rem-calc(5);
  }

}

#social_behavior_slider {

  background-image: url(../img/o_spolocnosti_background.jpg);

}

#staze_slider {

  background-image: url(../img/kariera_background.jpg);

}

.slider_title {

  border-left: 4px solid #ffffff;
  padding-left: 20px;
  color: #ffffff !important;

}

.white_text {

  color: white !important;

}

#co_rikaji_backround p {

  background-color: white;
  padding: 30px;

}

#information_box {

  margin-top: 80px;

}

footer {

  margin-top: 80px;
  .sector {
    float: none;
    clear: both;
  }
}

.news_button_box a {

  float: right;
  width: 37px;
  height: 37px;
  transition: background-image 0.4s ease-in-out;
  background-image: url(../img/triangle_plus_button.png);
  background-size: 100% 100%;

}

.news_button_box a:hover {

  transition: background-image 0.4s ease-in-out;
  background-image: url(../img/triangle_plus_button2.png);

}

.part_10, .part_20, .part_25, .part_33, .part_35,.part_30, .part_40,.part_50,.part_60,.part_70, .part_80, .part_90  {

  float: left;
  padding: 1%;
  box-sizing: content-box;

}

.part_10 {width: 8%;}
.part_20 {width: 18%;}
.part_25 {width: 23%;}
.part_30 {width: 28%;}
.part_33 {width: 31.333333%;}
.part_35 {width: 33%;}
.part_40 {width: 38%;}
.part_50 {width: 48%;}
.part_60 {width: 58%;}
.part_70 {width: 68%;}
.part_80 {width: 78%;}
.part_90 {width: 88%;}

.title_decor {

  border-left: 4px solid #61c1dd;

  padding-left: 20px;

  color: #3b3c44 !important;

  float: left;
  font-size: rem-calc(24);
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);

}

.right {

  float: right;

}

.legislativa {
  .small-up-1 .column {
    margin-bottom: rem-calc(30);
  }
}
.udelame_box {

  float: left;
  width: 100%;
  padding: 0 5%;
  height: 260px;
  text-align: center;

  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
  border-radius: rem-calc(5);
  h3 {
    opacity: 1;
    transition: 200ms ease-in-out;
  }

  transition: background-image 0.4s ease-in-out;

  ul {
    opacity: 0;
    transition: 200ms;
    text-align: left;
    margin: 0;
    padding-left: 40px;
  }
  
  li {
    list-style: none;
    position: relative;
    margin-bottom: 10px;
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon_acteptable.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      left: -45px;
      top: 5px;
    }
  }

}

.udelame_box:hover {

  transition: background-image 0.4s ease-in-out;
  h3 {
    opacity: 0;
    transition: 200ms;
  }

  ul {
    opacity: 1;
    transition: 200ms;
  }

}

.udelame_box h3, .udelame_box ul {

  color: white;

}

#udelame_box_1 {

  background-image: url(../img/item_pro_klienta_credit.jpg);
}

#udelame_box_2 {

  background-image: url(../img/platba_faktur.png);

}

#udelame_box_3 {

  background-image: url(../img/item_pro_klienta_woman.jpg);

}

#udelame_box_4 {

  background-image: url(../img/item_pro_klienta_tablet.jpg);

}

/*.co-pro-vas-muzeme-udelat {
  #udelame_box_1 {

    background-image: url(../img/item_pro_klienta_credit.jpg);
    @include breakpoint(1180px up) {
      li:nth-child(2):before {
        top: rem-calc(-2);
      }
    }
    @include breakpoint(1060px up) {
      li:nth-child(3):before {
        top: rem-calc(-2);
      }
    }
  }

  #udelame_box_4 {
    @include breakpoint(1175px up) {
      li:nth-child(2):before {
        top: rem-calc(-2);
      }
    }
    @include breakpoint(1060px up) {
      li:nth-child(3):before {
        top: rem-calc(-2);
      }
    }
  }
}

.legislativa-class {
  #udelame_box_2 {
    @include breakpoint(1175px up) {
      li:nth-child(3):before {
        top: rem-calc(-2);
      }
    }
  }
}*/
.co-pro-vas-muzeme-udelat-class {
  #udelame_box_1 {
    @include breakpoint(1180px up) {
      li:nth-child(2):before {
        top: rem-calc(-2);
      }
    }
    @include breakpoint(1060px up) {
      li:nth-child(3):before {
        top: rem-calc(-2);
      }
    }
  }

  #udelame_box_4 {
    @include breakpoint(1175px up) {
      li:nth-child(2):before {
        top: rem-calc(-2);
      }
    }
    @include breakpoint(1060px up) {
      li:nth-child(3):before {
        top: rem-calc(-2);
      }
    }
  }
}
.legislativa-class {
  #udelame_box_2 {
    @include breakpoint(large up) {
      li:nth-child(1):before {
        top: rem-calc(-2) !important;
      }
      li:nth-child(3):before {
        top: rem-calc(-2) !important;
      }
    }
    @include breakpoint(medium only) {
      li:nth-child(1):before {
        top: rem-calc(-2) !important;
      }
      li:nth-child(3):before {
        top: rem-calc(-2) !important;
      }
    }
    @include breakpoint(small only) {
      li:nth-child(1):before {
        top: rem-calc(-2) !important;
      }
      li:nth-child(3):before {
        top: rem-calc(-2) !important;
      }
    }
  }
}
#udelame_box_5 {

  background-image: url(../img/item_pro_klienta_pens.jpg);

}

#udelame_box_6 {

  background-image: url(../img/item_pro_klienta_writer.jpg);

}

#udelame_box_1:hover, #udelame_box_2:hover, #udelame_box_3:hover, #udelame_box_4:hover, #udelame_box_5:hover, #udelame_box_6:hover {

  background-image: url(../img/item_pro_klienta_active.jpg) !important;

}


.title_box {

  display: block;
  margin: 0 auto;
  padding: 80px 0;

  font-size: 24px;

}

.center {

  text-align: center;

}

.circle_digits_year {

  float: left;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background-color: #61c1dd;
  color: #ffffff;
  font-weight: bold;

  font-size: 32px;
  text-align:center;
}

.circle_digits_year span {

  position: relative;
  top: 40px;

}

#banks img {

  cursor: pointer;

}

.line_blue_left, .line_blue_right, .line_blue_center {

  background-position: 50% 36%;
  background-repeat: no-repeat;
  background-size: 100% 1%;

}

.line_blue_left {

  background-image: url(../img/blue_line_left.png);

}

.line_blue_center {

  background-image: url(../img/blue_line_lcenter.png);

}

.line_blue_right {

  background-image: url(../img/blue_line_right.png);

}

.right_decor_history_item {

  background-image: url(../img/item_path_gray.png);
  background-repeat: no-repeat;
  background-position: 75% 20%;

}

.left_decor_history_item {

  background-image: url(../img/item_path.png);
  background-repeat: no-repeat;
  background-position: 30% 40%;

}

.question_faq_box_showing, .person_box_showing, .staff_box_showing {

  display: none;

}

.question_faq_box_toogle {

  display: block;
  background-image: url(../img/item_rollover.png);
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;

  margin: 0;
  position: relative;
  top: 20px;
  right: 20px;

}

.person_box_toogle, .staff_box_toogle {

  display: block;
  background-image: url(../img/icon_nav_down_white.png);
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;

  margin: 0;
  position: relative;
  top: 10px;
  right: 20px;

}

.person_box, .staff_box {

  background-color: #38393c;

  background-position: left;
  background-repeat: no-repeat;

  margin: 10px auto;

  border-radius: 10px;

  font-weight: bold;

}

.person_box h3, .staff_box h3 {

  color: white;
  padding: 10px 30px;
  margin: 0;

}

.question_faq_box {

  background-color: rgb(240,240,240);
  background-image: url(../img/icon_questio_mark.png);
  background-position: left;
  background-repeat: no-repeat;

  margin: 10px auto;

  border-radius: 10px;

  font-weight: bold;

}

.question_faq_box p	{

  padding: 15px 0;
  margin: 0;

}

#banks h4 {

  padding: 10px;
  background-color: rgb(245,245,245);
  color: #3b3c44 !important;

}


.udelame_box h3 {

  position: relative;
  top: 110px;

}

#pravnicka_osoba {

  padding: 0;
  margin-right: 2%;

  background-color: rgb(250,250,250);
  cursor: pointer;
  border-radius: 10px;

}

#pravnicka_osoba p, #fyzicka_osoba p {

  margin: 0;
  padding: 25px 0 25px 25px;

}

#pravnicka_osoba img, #fyzicka_osoba img {

  margin-right: 20px;

}

#fyzicka_osoba {

  padding: 0;
  margin-left: 2%;

  background-color: #61c1dd;
  color: white;
  cursor: pointer;
  border-radius: 10px;

}

.classical_pad {

  padding: 60px 0;

}

#banking {

  background-color: rgb(250,250,250);
  margin-bottom: 0;
  padding-bottom: 60px;

}

.sector {

  float: left;
  width: 100%;

}

#employee_1, #employee_2, #employee_3, #employee_4 {

  background-image: url(../img/item_zamestanec.jpg);

}

.employee_box {

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 250px;

}

.employee_box h3 {

  color: white;

}

.employee_box {

  padding-left: 0;
  padding-right: 0;

}

.employee_box:nth-child(1),.employee_box:nth-child(2),.employee_box:nth-child(3){

  margin-right: 1%;
  padding-left: 1%;

}

.employee_box:nth-child(4) {

  padding-left: 1%;
  padding-right: 1%;

}

.download_box {

  background-position: center center;
  background-repeat: no-repeat;

  height: 250px;
  text-align: center;

}

#download_box_1 {

  background-image:  url(../img/icon_ke_stazeni_wrie.png);

}

#download_box_2 {

  background-image:  url(../img/icon_ke_stazeni_gold.png);

}

#download_box_3 {

  background-image:  url(../img/icon_ke_stazeni_medal.png);

}

#download_box_4 {

  background-image:  url(../img/icon_ke_stazeni_logo.png);

}

#download_box_5 {

  background-image:  url(../img/icon_ke_stazeni_docs.png);

}

#download_box_6 {

  background-image:  url(../img/icon_ke_stazeni_dir.png);

}

.download_box a {

  display: block;

  font-size: 24px;
  color: #3b3c44 !important;

  padding: 110px 0;

}

.download_box a:hover {

  color: white !important;

}

.kontakty_box {

  float: right;
  padding: 3% 3% 3% 3%;
  margin: 0;
 /* width: 40%;*/
  color: white;
  border-radius: 0px 5px 5px 0px;

  background-color: rgba(56,57,60,0.8);
  h3 {
    color: $white;
    font-size: rem-calc(20);
    margin-top: rem-calc(10);
  }
  ul {
    margin: 0;
    margin-bottom: rem-calc(15);
  }
  li {
    list-style: none;
    margin-bottom: rem-calc(5);
  }
  .button {
    margin-bottom: 0;
  }
}

#kontakt_map_1, #kontakt_map_2 {

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 60px;
  padding: 0;
  margin-bottom: 20px;

}

#kontakt_map_1 {

  background-image:  url(../img/mpapa_kontakty.jpg);
  margin-right: 1%;
  padding-left: 1%;
}

#kontakt_map_2 {

  background-image:  url(../img/mpapa_kontakty.jpg);
  margin-left: 1%;

}
#rychly_kontakt {
  .row {
    .columns {
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(15);
    }
    .columns > div {
      width: 100%;
      height: 100%;
      background-image:  url(../img/mpapa_kontakty.jpg);
      display: inline-block;
      border-radius: 5px;
    }
  }
}
#kontakt_form_section p {

  font-style: italic !important;
  padding: 20px 0;

}

#kontakt_form_section h3 {

  font-size: 24px;
  font-weight: bold;

}

.kontakt_input {

  display: block;
  padding: 30px;
  margin-left: 0;

}

#koho_hledame_section {

  background-image: url(../img/item_kariera.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;

  padding-bottom: 160px;
  margin-bottom: 28px;

}

.paragraph_blue {

  margin-top: 60px;
  padding: 20px;
  text-align: center;
  background-color: #61c1dd;
  border-radius: 5px;
  background-image: url(../img/information_gradient.png);
  background-repeat: repeat-x;
  background-size: 1% 100%;

}

.max_width {

  width: 550px;

}


.gallery_photo_box {

  background-image: url(../img/information_gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: rem-calc(5);
  .dark_sector {
    border-radius: rem-calc(5);
  }
}

.gallery_photo_box_p_white {

  background-color: white;
  display: block;
  padding: 10px;


}

.gallery_photo_box_p {

  background-color: rgb(250,250,250);
  display: block;
  padding: 10px;

}

#gallery_base_new_news {

  background-color: rgb(250,250,250);

}

.dark_sector {

  background-color: rgba(56,57,60,0.8);
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 80px;
  color: white;
  padding: 15px;

}

.top_sector a {

  float: right;
  margin-right: 40px;
  margin-top: 20px;
  background-color: #61c1dd;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;

}

#gallery_new_news_item_1, #gallery_new_news_item_2, #gallery_new_news_item_3 {

  background-image: url(../img/item_aktuality.jpg);

}

#gallery_other_news_item_1, #gallery_other_news_item_2, #gallery_other_news_item_3,#gallery_other_news_item_4,#gallery_other_news_item_5,#gallery_other_news_item_6 {

  background-image: url(../img/item_aktuality_london.jpg);

}

@media screen and (max-width: 499px) {

  .part_20,.part_33,.part_35,.part_40, .part_50,.part_80 {

    width: 100%;
    text-align: center;

  }

  .margin_left_news_box, .margin_right_news_box {

    margin: 0;

  }

  #pravnicka_osoba, #fyzicka_osoba {

    margin: 0;

  }

  .dgs_logo {

    float: none !important;

  }

  #fixed_menu {

    display: none;

  }

  /*#sub_menu {

    display: none;

  }*/


  #page {

    position: relative;
    top: 0%;

  }

  #mobile_head_navigation_toogle_section {

    display: block;
    float: right;
    width: 50%;

  }

  header {

    position: relative;

  }

  .logo_box {

    width: 50%;

  }

  .head_navigation_box {

    width: 100%;

  }

  .head_navigation_box a {

    width: 80%;
    padding: 5% 10%;
    border-bottom: 3px solid rgba(97,193,221,0.0);

  }

  .head_navigation_box .right {

    margin-right: 0;

  }

  .menu_button_box {

    width: 100%;
    text-align: center;
    margin: 7% 0 4% 0;

  }

  .banner {

    margin-top: 0;
  }

}

@media screen and (min-width: 500px) and (max-width: 767px) {

  #fixed_menu {

    display: none;

  }

  .logo_box {

    width: 20%;

  }

  .head_navigation_box {

    width: 80%;

  }

  .head_navigation_box a {

    padding: 40px 7px;

  }

  .menu_button_box {

    width: 100%;
    text-align: center;

  }

  .head_navigation_box .actived, .head_navigation_box a:hover {

    border-top: 3px solid #61c1dd;
    border-bottom: 3px solid rgba(97,193,221,0.0);

  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .logo_box {

    width: 15%;

  }

  .head_navigation_box {

    width: 70%;

  }

  .head_navigation_box a {

    padding: 40px 7px;

  }

  .menu_button_box {

    width: 15%;

  }

  .menu_button_box .button {

    float: right;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 20px 10px 20px 0;

  }

}

@media screen and (min-width: 1024px) and (max-width: 1600px) {

  .logo_box {

    width: 20%;

  }

  .head_navigation_box {

    width: 60%;

  }

  .menu_button_box {

    width: 15%;

  }

  .menu_button_box .button {

    float: right;
    margin: 20px 0;

  }

}

@media screen and (min-width: 1601px) {

  .logo_box {

    width: 15%;

  }

  .head_navigation_box {

    width: 70%;

  }

  .menu_button_box {

    width: 15%;

  }

  .menu_button_box .button {

    float: right;
    margin: 20px 0;

  }

}

.slovakFix {
  h3 {
    margin-bottom: rem-calc(20);
  }
}

.newsLetter {
  input {
    height: rem-calc(60) !important;
  }
  .input-group {
    margin-top: rem-calc(22);
  }
  .input-group-field {
    border-radius: rem-calc(3 0 0 3);
    box-shadow: none;
    background-color: #27282e;
    border: none;
    color: $white;
    transition: 200ms;
    padding-left: rem-calc(30);
    &::placeholder {
      color: $white;
      font-style: italic;
    }
    &:focus {
      background-color: $white;
      color: $body-font-color;
      transition: 200ms;
    }
  }
  .button {
    border-radius: rem-calc(0 3 3 0);
    text-shadow: 1px 1px 1px rgba(43, 138, 210, 1);
    background: $sabButtonGrTop;
    background: -moz-linear-gradient(top,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
    background: -webkit-linear-gradient(top,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
    background: linear-gradient(to bottom,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62A4E8', endColorstr='#61C3DC',GradientType=0 );
    transition: 200ms;
    &:hover {
      transform: scale(1.1);
      transition: 200ms;
    }
  }
}

#staze-pro-studenty {
  .max_width {
    width: initial;
  }
}