.bold_text {

  font-weight: bold;

}

#udelame_sector {

  background-image: url(../img/udelame_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgb(80,80,80);

  padding: 40px 0 80px 0;
  p {
    color: #27282e !important;
  }

}

.udelame_boxes div, .obchodovat_boxes div {

  text-align: center;

}

.udelame_boxes div img, .obchodovat_boxes div img {

  margin: 0 0 40px 0;

}

.line_blue {

  background-image: url(../img/line_blue.png);
  background-position: 40% 36%;
  background-repeat: repeat-x;

}

#information_box {
  padding: rem-calc(20 0 35 0);
  @include breakpoint(large) {
    padding: 0;
  }

  background-image: url(../img/information_gradient.png);
  background-color: #62b0e3;
  background-position: 0% 0%;
  background-repeat: repeat-x;
  background-size: 1% 100%;

  border-radius: 10px;

  color: white;
  @include breakpoint(medium down) {
    text-align: center !important;
    .information_item_move {
      left: rem-calc(0) !important;
    }
  }
  @include breakpoint(large) {
   > .columns:nth-child(2) {
      margin-top: rem-calc(40);
    }
  }
  > .large-5 .row {
    .large-1 {
      margin-top: rem-calc(22);
    }
    .large-5:last-child {
      margin-top: rem-calc(15);
    }
  }
  .information_item_move {
    position: relative;
    left: rem-calc(-25);
  }
}

#information_box h3 {

  display: block;
  margin-bottom: rem-calc(20);
  @include breakpoint(large) {
    padding: 35px 20px;
    margin-bottom: rem-calc(8);
  }
  color: white;
  font-size: 24px !important;

}

#information_box .buttonik {

/*  float: right;*/

  /*margin: 30px;*/

  background-color: white;
  color: #62b0e3;
  text-align: center;

  border-radius: 0.25rem;
  padding: 1.375em 2.375em;
  font-size: 1 rem;
  /*margin-right: 18px;*/

  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  color: $white !important;
  font-weight: $global-weight-bold;
  background: map-get($foundation-palette, secondary);
  transform: scale(1);
  display: inline-block;
  transition: 200ms;
  &:hover {
    transform: scale(1.1) !important;
    transition: 200ms;
  }
}

#newsletter_section {

  background-color: #3b3c44;
  color: white;

}

#newsletter_section .row, #footer_contact_section .row {

  padding-top: 40px;
  padding-bottom: 40px;

}

#footer_contact_section {
  background-color: #ebebec;
}

#footer_contact_section ul {

  list-style: none;
  padding: 6px 0;
  margin: 0;

}

.dgs_logo {

  margin: 15px 0;

}





.input_button {

  float: left;
  width: 60%;
  padding: 5%;
  height: auto;
  background-color: #27282e;
  color: #e4e4e5;

  border: none;
  font-style: italic;

}

.image_button {



}

.input_button_submit {

  float: left;
  width: 20%;
  height: auto;
  background-color: #62afe3;
  color: #ffffff;

  padding: 5%;
  border: none;

}

.information_item_move {
  font-size: 20px;
  /*position: relative;
  top: 53px;*/
  .or {
    font-size: 14px;
    margin-right: 12px;
  }

  @include breakpoint(1120px) {
    font-size: 24px;
  }

}

.classical_padd {

  padding: 0 20px;

}

.justify {

  text-align: justify;

}