.accordion-item {
  margin-bottom: rem-calc(2);
  .accordion-title {
    font-size: rem-calc(18);
    font-weight: $global-weight-normal;
    border-radius: rem-calc(3) !important;
    background-color: #38393c;
    &::before {
      content: "";
      background-image: url("../img/icon_nav_down_white.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: rem-calc(38);
      height: rem-calc(38);
      margin-top: rem-calc(-19);
      transform: rotate(0deg);
      transition: 200ms;
    }
  }
  .accordion-content {
    background-color: #efeff0;
    padding: rem-calc(30 40);
    margin-bottom: rem-calc(24);
    color: $body-font-color;
    ul {
      margin-bottom: rem-calc(60);
      li {
        margin-bottom: rem-calc(10);
      }
    }
  }
  .blueInfo {
    background-image: url("../img/accordionBlue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: rem-calc(413);
    color: $white !important;
    padding: rem-calc(40 25);
    a {
      color: $white !important;
      font-weight: $global-weight-bold;
    }
  }
}

.accordion-item.is-active {
  .accordion-title {
    color: $white !important;
    &::before {
      transform: rotate(180deg);
      transition: 200ms;
    }
  }
}

.accordion.faq {
  .accordion-item {
    margin-bottom: rem-calc(10);
  }
  .accordion-title {
    border-radius: rem-calc(5) !important;
    background-color: #f5f5f5;
    color: $body-font-color !important;
    background-image: url("../img/icon_questio_mark.png");
    background-repeat: no-repeat;
    font-weight: $global-weight-regular;
    padding-top: rem-calc(31);
    padding-bottom: rem-calc(31);
    transition: 200ms;
    &::before {
      content: "";
      background-image: url("../img/sipka.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: rem-calc(38);
      height: rem-calc(38);
      margin-top: rem-calc(-19);
      transform: rotate(0deg);
      transition: 200ms;
    }
    &:hover {
      background-color: #e5e5e5;
      transition: 200ms;
    }
  }
  .is-active .accordion-title {
    background-color: #e5e5e5;
    transition: 200ms;
  }
  .is-active {
    .accordion-title {
      &::before {
        transform: rotate(180deg);
        transition: 200ms;
      }
    }
  }
}

.accordion {
  position: relative;
  transition: 500ms;
}
.accordion.invisible {
  position: absolute;
  transition: 500ms;
}