.banky {
  margin: rem-calc(30 76);
  li {
    background-color: #62b3e2;
    color:#ffffff;
    font-size: rem-calc(18);
    margin: rem-calc(0 7.5 0 7.5);
    height: rem-calc(120) !important;
    position: relative;
    border-radius: 5px;
    > div {
      position: absolute;
      top: 50%;
      min-width: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: $global-weight-regular;
    }
  }
  button.slick-prev, button.slick-next {
    position: absolute;
    width: rem-calc(45) !important;
    height: rem-calc(45) !important;
    top: calc(50% - 45px / 2);
    opacity: 1;
    transition: 200ms;
    &:hover {
      opacity: 0.7;
      transition: 200ms;
    }
  }

  button.slick-prev {
    background-image: url("../img/icon_nav_prev.png");
    background-repeat: no-repeat;
    left: rem-calc(-70);
  }
  button.slick-next {
    background-image: url("../img/icon_nav_next.png");
    background-repeat: no-repeat;
    right: rem-calc(-70);
  }
}

#banking {
  padding-top: rem-calc(30);
  font-size: rem-calc(18) !important;
  font-weight: $global-weight-regular !important;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#ffffff 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 );
  .title_decor {
    margin-bottom: rem-calc(40);
  }
  ul.einzwei {
    li {
      position: relative;
      list-style: none;
      padding-left: rem-calc(60);
      &::before {
        content: "";
        display: inline-block;
        width: rem-calc(45);
        height: rem-calc(45);
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        left: 0;
      }
    }
    li:first-child {
      margin-bottom: rem-calc(40);
    }
    li:nth-child(1)::before {
      background-image: url("../img/1.png");
    }
    li:nth-child(2)::before {
      background-image: url("../img/2.png");
    }
  }
  h3 {
    font-size: rem-calc(20);
  }

  .spodek {
    h3 {
      margin: 0 !important;
      position: relative;
      top: rem-calc(5);
    }
  }
}