#contactForm {
  margin-top: rem-calc(30);
  input, textarea,select {
    box-shadow: none;
    border: rem-calc(1) solid #dddfe0;
    height: rem-calc(60) !important;
    padding-left: rem-calc(25);
    margin-bottom: rem-calc(15) !important;
    border-radius: rem-calc(2);
    &:placeholder {
      color: #a3a5a7;
    }
  }
  textarea {
    min-height: rem-calc(140) !important;
  }
  .large-8 .columns {
    padding-left: rem-calc(7.5);
    padding-right: rem-calc(7.5);
    &:first-child {
      padding-left: rem-calc(15);
    }
    &:last-child {
      padding-right: rem-calc(15);
    }
  }
  p {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
    strong {
      font-size: rem-calc(24);
    }
  }
  .info {
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: $global-weight-bold;
    color: #6d6d72;
    height: rem-calc(60);
    padding-top: rem-calc(16);
    border-radius: rem-calc(5);
    &.alert {
      color:#ffffff;
      background-color: #ec5840;
    }
    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: rem-calc(6 7 6 0);
      border-color: transparent #f2f2f2 transparent transparent;
      position: relative;
      left: rem-calc(-7);
    }
    img {
      padding: rem-calc(0 7 0 0);
      position: relative;
      top: -1px;
    }
  }
}