.reveal {
  overflow: visible;
  color: $body-font-color !important;
  .close-button {
    background-color: #61b4e2;
    color: #0067c5;
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 50%;
    transition: 200ms;
    position: absolute;
    @include breakpoint(medium) {
      top: rem-calc(-15);
      right: rem-calc(-15);
    }
    span {
      position: relative;
      top: rem-calc(-2);
      left: rem-calc(0);
    }
    &:hover {
      background-color: scale_color(#61b4e2, -40%);
      transition: 200ms;
    }
  }
  h1 {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(30);
    color: $body-font-color !important;
  }
  table a {
    font-weight: $global-weight-regular;
  }
  table,  tbody {
    border: none;
    tr {
      background-color: $white !important;
      border-bottom: rem-calc(1) solid #e0e0e2;
      &:last-child {
        border: none;
      }
    }
  }
}

.reveal.blue {
  .information {
    background-color: #fde393;
    padding: rem-calc(18 10 18 50);
    border-radius: rem-calc(3);
    position: relative;
    img {
      position: absolute;
      top: rem-calc(14);
      left: rem-calc(10);
    }
    p {
      color: #a17a03;
      font-weight: $global-weight-bold;
      margin: 0 !important;
      letter-spacing: rem-calc(-1.5);
    }
  }
  input, select{
    height: rem-calc(60);
  }
  textarea {
    height: rem-calc(190);
  }
  input, textarea, select{
    box-shadow: none;
    border-radius: rem-calc(3);
    margin-bottom: rem-calc(9);
    border: rem-calc(1) solid #e5e6e9;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #7b7b7d;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #7b7b7d;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #7b7b7d;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #7b7b7d;
    }
  }
  .columns {
    padding-left: rem-calc(4);
    padding-right: rem-calc(4);
  }
}