.timeLineHead {
  padding: rem-calc(80 0 20 0) !important;
}
.timeline-button {
  position:relative;
  z-index: 10;
}
.timeline {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  overflow: hidden;
  height: rem-calc(500);

  @include breakpoint(medium) {
    &::after {
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: #dfdfe3;
      content: "";
      z-index: 0;
      margin-left: -2px;
    }
  }

  .left .item:first-child span::before {
    content: "";
    display: block;
    background-color: white;
    width: 4px;
    height: 400px;
    position: absolute;
    top: rem-calc(-420);
    left: rem-calc(14);
  }
  .left .item:last-child span::before {
    content: "";
    display: block;
    background-color: white;
    width: 4px;
    height: 400px;
    position: absolute;
    bottom: rem-calc(-419);
    left: rem-calc(14);
  }

  .left {
    padding-right: 0;

    h3 {
      text-align: right;
    }
    @include breakpoint(medium) {
      .content-wrapper:after {
        content: "";
        width: 0;
        height: 0;
        display: inline-block;
        border-style: solid;
        border-width: rem-calc(6.5 0 6.5 6);
        border-color: transparent transparent transparent #62b3e2;
        top: 61px;
        right: 39px;
        position: absolute;
      }
    }
    .container {
      padding-right: rem-calc(45);
      .content-wrapper > span:first-child {
        position: absolute;
        right: -16px;
        top: 57px;
        font-size: 14px;
        z-index: 1;
        font-weight: bold;
      }
    }
  }

  .row {
    position: relative;
  }

  .right {
    padding-left: 0;
    padding-top: rem-calc(120);
    @include breakpoint(medium) {
      .content-wrapper:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem-calc(6.5 6 6.5 0);
        border-color: transparent #62b3e2 transparent transparent;
        left: rem-calc(39);
        top: rem-calc(61);
      }
    }
    .content-wrapper > span:first-child {
      position: absolute;
      left: rem-calc(-16);
      z-index: 1;
      font-size: rem-calc(14);
      font-weight: $global-weight-bold;
      top: rem-calc(57);
    }
    h3 {
      text-align: left;
    }

    .container {
      padding-left: rem-calc(45);
      @include breakpoint(medium) {
        &::before {
          left: 0;
          /*margin-left: -6px;*/
          margin-right: 0;
          width: rem-calc(60);
          height: rem-calc(60);
          background-color: $secondary-color;
          border: rem-calc(10) solid #dfdfe3;
          position: absolute;
          left: rem-calc(-30);
        }
      }

      &::after {
        left: 12px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .item {
    margin-bottom: rem-calc(40);
    &::after {
      content: "";
      clear: both;
    }
  }

  .container {
    position: relative;
    margin-bottom: 0rem;
    padding: 1.5rem;
    padding-bottom: 0rem;

    .content-wrapper {
      /*border: 1px solid $secondary-color;*/
      padding: 1rem;
      background-color: $primary-color;
      color: $white !important;
      border-radius: rem-calc(3);
      p, h1, h2, h3 {
        background-color: $primary-color;
        color: $white !important;
      }
    }
    @include breakpoint(medium) {
      &::after {
        content: "";
        position: absolute;
        /*background: url("../img/arrow_timeline_right.png") no-repeat center;
        width: 12px;
        height: 24px;
        right: 12px;
        top: 2rem;*/
      }

      &::before {
        content: "";
        position: absolute;
        /*width: 13px;
        height: 13px;
        background-color: $primary-color;
        border-color: $secondary-color;*/
        border-radius: 50%;
        top: 2.3rem;
        margin-right: -7px;
        z-index: 1;
        width: rem-calc(60);
        height: rem-calc(60);
        background-color: $secondary-color;
        border: rem-calc(10) solid #dfdfe3;
        position: absolute;
        right: rem-calc(-23);
      }
    }
  }
}