#topBar .responsiveToggle { // lišta pro mobily
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  position: relative;
  z-index: 1;
}
#topBar {
  z-index: 1000;
}
#topBar .topBar { // menu
  background-color: $white;
  position: relative;
  border-bottom: rem-calc(1) solid #e5ecf1;
  -webkit-box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  -moz-box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  $vyskaPruhu: rem-calc(2);
  padding-bottom: $vyskaPruhu;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: $vyskaPruhu;
    background-color: #eeeff2;
    bottom: 0;
  }
  li {
    @include breakpoint(large) {
      padding: rem-calc(30 0);
    }
    img {
        width:rem-calc(30);
      }
  }
  .top-bar-title {
    @include breakpoint(medium down) {
      width: 100%;
      text-align: center;
    }
  }
  .top-bar-title img{
    margin-top: rem-calc(36);
    @include breakpoint(medium down) {
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
    }
  }
  @include breakpoint(medium down) {
    .title-bar-right {
      width: 100%;
      text-align: center;
    }
  }
  .title-bar-right li {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: $vyskaPruhu;
      background-color: transparent;
      bottom: -$vyskaPruhu;
      z-index: 10;
    }
    &:hover, &.active {
      background-color: #f5f5f5;
      a {
        background-color: transparent;
      }
      &:after {
        background-color: #61c1dd;
      }
    }
  }
  .title-bar-right a {
    text-transform: uppercase;
    color: $body-font-color;
  }
  .noHover, .noHover:hover {
    background-color: transparent !important;
    &:after {
      background-color: transparent !important;
    }
  }
  .noHover .button {
    &:hover {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
      color: $white !important;
      font-weight: $global-weight-bold;
      background: map-get($foundation-palette, secondary);
      border-left: rem-calc(1) solid #75757b;
      border-left: rem-calc(1) solid #c5c6c8;
      transition: 200ms;
    }
  }
  .is-dropdown-submenu {
    min-width:59px;
    li {
      padding: 0;

    }
  }
}