#tym-slider {
  margin-left: rem-calc(80);
  margin-right: rem-calc(80);
  .slick-slide {
    margin-left: rem-calc(7.5);
    margin-right: rem-calc(7.5);
  }
  button.slick-prev, button.slick-next {
    position: absolute;
    width: rem-calc(45) !important;
    height: rem-calc(45) !important;
    top: calc(50% - 45px / 2);
    opacity: 1;
    transition: 200ms;
    &:hover {
      opacity: 0.7;
      transition: 200ms;
    }
  }

  button.slick-prev {
    background-image: url("../img/icon_nav_prev.png");
    background-repeat: no-repeat;
    left: rem-calc(-70);
  }
  button.slick-next {
    background-image: url("../img/icon_nav_next.png");
    background-repeat: no-repeat;
    right: rem-calc(-70);
  }
}