#jakSpolupracovat {
  h2 {
    margin-top: rem-calc(35);
  }
  .button {
    margin-bottom: rem-calc(40);
  }
  @include breakpoint(medium) {
    .a {
      padding-top: rem-calc(60);
    }
    .b {
      padding-top: rem-calc(90);
      > div > img {
        position: relative;
        transform: rotate(32deg);
        top: rem-calc(-120);
        left: rem-calc(40);
      }
    }
    .c {
      padding-top: rem-calc(130);
      > div > img {
        position: relative;
        top: rem-calc(-90);
        left: rem-calc(-80);
        transform: rotate(-16deg);
      }
    }
    .d {
      padding-top: rem-calc(120);
      > div > img {
        position: relative;
        top: rem-calc(-190);
        left: rem-calc(60);
      }
    }
  }
  @include breakpoint(large) {
    .a {
      padding-top: rem-calc(60);
    }
    .b {
      padding-top: rem-calc(150);
      > div > img {
        position: relative;
        top: rem-calc(-110);
        left: rem-calc(80);
        transform: rotate(15deg);
      }
    }
    .c {
      padding-top: rem-calc(130);
      > div > img {
        position: relative;
        top: rem-calc(-90);
        left: rem-calc(-80);
        transform: rotate(0deg);
      }
    }
    .d {
      padding-top: rem-calc(120);
      > div > img {
        position: relative;
        top: rem-calc(-190);
        left: rem-calc(60);
      }
    }
  }
  @include breakpoint(small only) {
    .a {
      padding-top: rem-calc(60);
      > div > div > div > img {
        margin-bottom: rem-calc(20);
      }
    }
    .b {
      position: relative;
      padding-top: rem-calc(180);
      > div > div > div > img {
        position: absolute;
        top: rem-calc(30);
        right: rem-calc(15);
      }
    }
    .c {
      position: relative;
      padding-top: rem-calc(50);
      > div > div > div > img {
        position: relative;
        top: rem-calc(-20);
        left: rem-calc(5);
      }
    }
    .d {
      position: relative;
      padding-top: rem-calc(180);
      margin-bottom: rem-calc(60);
      > div > div > div > img {
        position: absolute;
        top: rem-calc(30);
        right: rem-calc(15);
      }
    }
  }
}