.numbers {
  background-color: map_get($foundation-palette, secondary);
  color: $white;
  padding: rem-calc(40 0);
  border-bottom: rem-calc(4) solid map_get($foundation-palette, primary);
  strong {
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    @include breakpoint(1210px) {
      font-size: rem-calc(46);
      line-height: rem-calc(46);
    }
  }
  .columns {
    padding: 0;
  }
  em {
    font-size: rem-calc(16);
    font-style: normal;
    display: block;
    line-height: rem-calc(18) !important;
    position: relative;
    top: rem-calc(4);
    letter-spacing: rem-calc(-0.5);
  }
  .large-4 .small-6:first-child {
    padding-top: rem-calc(8);
    position: relative;
    text-align: right;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: rem-calc(45);
      background-color: #7a7b83;
      right: 0;
      top: 0;
    }
  }
  @include breakpoint(1210px) {
    strong {
      font-size: rem-calc(46);
      line-height: rem-calc(46);
    }
    em {

    }
    .large-4 .small-6:first-child {
      padding-top: rem-calc(0);
    }
  }
}

.numbers > .row > .columns {
  .columns:first-child {
    padding-right: rem-calc(20);
  }
  .columns:last-child {
    padding-left: rem-calc(20);
    padding-top: rem-calc(9);
  }
  @include breakpoint(large) {
    &:nth-child(3) .columns:last-child {
      padding-top: rem-calc(0);

    }
   
  }
  @include breakpoint(large) {
     &:nth-child(2) {
      margin-left: -2.8rem;
    }
  }
  @include breakpoint(xxlarge) {
    &:nth-child(3) .columns:last-child {
      padding-top: rem-calc(9);

    }
  }
}