#slider {
  img {
    min-height: rem-calc(270);
  }
  .orbitText {
    padding-top: rem-calc(20);
    @include breakpoint(1650px) {
      padding-top: rem-calc(195) !important;
    }
    /*.button {
      text-shadow: 1px 1px 1px rgba(43, 138, 210, 1);
      background: $sabButtonGrTop;
      background: -moz-linear-gradient(top,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
      background: -webkit-linear-gradient(top,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
      background: linear-gradient(to bottom,  $sabButtonGrTop 0%, $sabButtonGrBottom 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62A4E8', endColorstr='#61C3DC',GradientType=0 );
      transition: 200ms;
      &:hover {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        color: $white !important;
        font-weight: $global-weight-bold;
        background: map-get($foundation-palette, secondary);
        border-left: rem-calc(1) solid #75757b;
        border-left: rem-calc(1) solid #c5c6c8;
        transition: 200ms;
      }
    }*/
    .button {
      font-style: normal;
      @include breakpoint(small only) {
        display: none;
      }
    }
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    color: $white !important;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.9);
    font-size: rem-calc(20);
    font-weight: $global-weight-normal;
    font-weight: $global-weight-regular;
    font-style: italic;
    @include breakpoint(850px) {
      padding-top: rem-calc(50);
      h2 {
        margin-bottom: rem-calc(30);
      }
      p {
        margin-bottom: rem-calc(40);
      }
    }
    h2 {
      color: $white !important;
      text-shadow: -4px 2px 12px rgba(0, 0, 0, 0.6);
      font-size: rem-calc(25);
      font-weight: $global-weight-normal;
      margin-bottom: rem-calc(15);
      line-height: rem-calc(25);
      @include breakpoint(1000px) {
        font-size: rem-calc(48);
        line-height: rem-calc(55);
      }
    }
    p {
      line-height: rem-calc(20);
      margin-bottom: rem-calc(15);
      @include breakpoint(1130px) {
        margin-bottom: rem-calc(80);
      }
    }
  }
}

.homepageSlider {
  .orbit-image, .orbit-slide {
    width: rem-calc(800) !important;
    @include breakpoint(medium) {
      width: rem-calc(1920) !important;
    }
    @include breakpoint(xxlarge) {
      width: rem-calc(3840) !important;
    }
    height: calc(100vh - 6.5625rem - 8.125rem) !important;
  }
}