.whySAB {
  h2 {
    text-align: center;
    font-size: rem-calc(36);
    font-weight: $global-weight-normal;
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(70);
    color: $body-font-color !important;
  }
  .links {
    .column {
      transition: 300ms;
    }
    .column:nth-child(2n) {
      background-color: $darkWhite;
    }
    @include breakpoint(medium) {
      .column {
        background-color: $white !important;
      }
      .column:nth-child(2) {
        background-color: $darkWhite !important;
      }
      .column:nth-child(3n) {
        background-color: $darkWhite !important;
      }
    }
    @include breakpoint(large) {
      .column {
        background-color: $white !important;
      }
      .column:nth-child(3) {
        background-color: $white !important;
      }
      .column:nth-child(2n) {
        background-color: $darkWhite !important;
      }
    }
    .column:hover {
      background-color: map_get($foundation-palette, primary) !important;
      transition: 200ms;
    }
  }
  .links .column div {
    position: relative;
    width: 100%;
    height: rem-calc(270);
    text-align: center;
    color: $body-font-color;
    font-size: rem-calc(20);
    transition: 300ms;
    padding-top: rem-calc(180);
    p {
      line-height: rem-calc(24);
    }
    img {
      position: absolute;
      transition: 300ms;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: rem-calc(30);
    }
    img:first-child {
      position: absolute;
      opacity: 0;
    }
    img:nth-child(2) {
      opacity: 1;
    }
    &:after { //křížek
      content: "+";
      color: #c2ffff;
      font-size: rem-calc(48);
      position: absolute;
      bottom: rem-calc(-7);
      right: rem-calc(-6);
      opacity: 0;
      transition: 300ms;
    }
    &:hover {
      color: $white;
      transition: 200ms;
      img:first-child {
        opacity: 1;
        transition: 200ms;
      }
      img:nth-child(2) {
        opacity: 0;
        transition: 200ms;
      }
      &:after { //křížek
        opacity: 1;
        transition: 200ms;
      }
    }
  }
  .button {
    margin-top: rem-calc(50);
  }
  
}