<!--<!doctype html>
<html lang="cs">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
  <meta name="robots" content="all,follow" />
  <meta name="googlebot" content="snippet,archive" />
  <meta name="resource-type" content="document" />

  <meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
  <meta name="keywords" content="Recepty, databaza, domace recepty" />

  <title>SAB finance</title>

  <link rel="shortcut icon" href="assets/img/favicon.ico" />
  <link rel="stylesheet" href="assets/css/app.css">
  <link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />

</head>

<body>-->

<!--<header>

  <div class="row" id="mobile_head_navigation_toogle_section">

    <button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>

  </div>

  <div class="row">

    <div class="logo_box">

      <a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>

    </div>

    <nav class="head_navigation_box">

			<span class="right">

				<a href="index.html" class="actived"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>

			</span>

    </nav>

    <div class="menu_button_box">

      <a href="#" class="button" id="zajem_pop_up">Mám zájem</a>

    </div>

  </div>

</header>

<div id="fixed_menu" class="sector">

  <div class="row">

    <div class="logo_box">

      <a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>

    </div>

    <nav class="head_navigation_box">

			<span class="right">

				<a href="index.html" class="actived"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>

			</span>

    </nav>

    <div class="menu_button_box">

      <a href="#" class="button" id="zajem_pop_up">Mám zájem</a>

    </div>

  </div>

</div>-->

<div data-sticky-container id="topBar">
  <div data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="title-bar" id="topBarMenu">
      <div class="topBar">
        <div class="row">
          <div class="small-12 columns">
            <div class="top-bar-title">
              <a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
            </div>
            <div>
              <div class="title-bar-left"><!-- Content --></div>
              <div class="title-bar-right">
                <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
                  <li class="active"><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
                  <li><a href="pro-klienty.html">PRO KLIENTY</a></li>
                  <li><a href="o-nas.html">O NÁS</a></li>
                  <li><a href="zpravy.html">Zprávy</a></li>
                  <li><a href="kariera.html">Kariéra</a></li>
                  <li><a href="ke-stazeni.html">Ke stažení</a></li>
                  <li><a href="kontakt.html">Kontakty</a></li>
                  <li class="noHover"><a href="#" class="button" data-open="zajem">Mám zájem</a></li>
                  <li>
                    <a href="#"><img src="{{root}}assets/img/flags/cz.jpg" alt="CZ"></a>
                    <ul class="menu">
                      <li><a href="/"><img src="{{root}}assets/img/flags/cz.jpg" alt="CZ"></a></li>
                      <li><a href="/sk"><img src="{{root}}assets/img/flags/sk.png" alt="CZ"></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal blue wow fadeIn" id="zajem" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Máte zájem o naše služby?</h1>
      <p>
        Zaujali Vás naše služby? Chtěli byste s námi začít spolupracovat? Kontaktujte nás a my se Vám
        ozveme s naší nabídkou služeb a dohodneme naši potenciální spolupráci,,,
      </p>
    </div>
  </div>
  <form action="">
    <div class="row">
      <div class="small-12 columns">
        <label>
          <input type="text" placeholder="Vaše jméno a příjmení">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>
          <input type="email" placeholder="Vaše emailová adresa">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          <input type="tel" placeholder="Vaše telefonní číslo">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>
          <textarea></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 columns">
        <div class="information">
          <img src="{{root}}assets/img/i.png" alt="Info" class="float-left">
          <p>Děkujeme Vám! Ozveme se Vám co nejdříve...</p>
        </div>
      </div>
      <div class="medium-4 columns">
        <label>
          <button type="submit" class="expanded button secondary">Odeslat</button>
        </label>
      </div>
    </div>
  </form>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- #################################################################################################################################################

    SECTION BREAK

################################################################################################################################################# -->

<div id="slider" class="orbit homepageSlider" role="region" aria-label="Bannery" data-orbit>
  <ul class="orbit-container">
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider1.jpg" alt="Něco">
      <div class="row orbitText">
        <div class="small-12 columns">
          <h2>
            Jsme <b>jedničkou</b> na trhu <b>devizových obchodů</b> spotového charakteru.
          </h2>
          <p>
            “Máme přes 13tis. loajálních klientů, s čím můžeme pomoci...”
          </p>
          <a href="#" class="button">Kontaktujte nás</a>
        </div>
      </div>

    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="{{root}}assets/img/slider2.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider3.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider4.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>

  </ul>
  <nav class="orbit-bullets wow bounceInUp">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

  <div class="numbers sector" id="head_banner_content_section">

    <div class="row">

      <div class="large-4 columns">
        <div class="row">
          <div class="small-6 columns">
            <strong>13&nbsp;286</strong>
          </div>
          <div class="small-6 columns">
            <em>
              Spokojených klientů
            </em>
          </div>
        </div>
      </div>

      <div class="large-4  columns">
        <div class="row">
          <div class="small-6 columns">
            <strong>150&nbsp;420</strong>
          </div>
          <div class="small-6 columns">
            <em>
              Vypořádaných obchodů (2015)
            </em>
          </div>
        </div>
      </div>

      <div class="large-4  columns">
        <div class="row">
          <div class="small-6 columns">
            <strong>681&nbsp;mld.</strong>
          </div>
          <div class="small-6 columns">
            <em>
              Obrat v CZK
            </em>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- #################################################################################################################################################

    SECTION BREAK

################################################################################################################################################# -->
<div id="page">

  <div class="whySAB">
    <div class="row" style="margin-top: 0;">
      <div class="small-12 columns">
        <h2 class="wow jello"><b>Proč</b> SAB Finance a.s.?</h2>
      </div>
    </div>
    <div class="links row small-up-1 medium-up-2 large-up-3 wow fadeIn">
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/dlouhHv.png" alt="">
            <img src="assets/img/dlouh.png" alt="">
            <p>
              <strong>Dlouhodobě nejvýhodnější</strong>
              <br />
              měnové kurzy na trhu
            </p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/zbavHv.png" alt="">
            <img src="assets/img/zbav.png" alt="">
            <p>
              <strong>Zbavíme</strong> Vás absurdních
              <br />
              <strong>poplatků</strong>
            </p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/bleskoHv.png" alt="">
            <img src="assets/img/blesko.png" alt="">
            <p>
              <strong>Bleskové vypořádání</strong>
              <br />
              Vašich plateb
            </p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/transpHv.png" alt="">
            <img src="assets/img/transp.png" alt="">
            <p>
              <strong>Transparentnost</strong>
            </p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/100Hv.png" alt="">
            <img src="assets/img/100.png" alt="">
            <p>
              <strong>100% jistota</strong>
              <br />
              a bezpečnost
            </p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div>
            <img src="assets/img/12letHv.png" alt="">
            <img src="assets/img/12let.png" alt="">
            <p>
              <strong>12 let</strong>
              <br />
              zkušeností
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-3 small-centered columns text-center">
        <a href="o-nas.html" class="button secondary wow slideInUp">Více o spolupráci</a>
      </div>
    </div>
  </div>

  <!-- #################################################################################################################################################

      SECTION BREAK

  ################################################################################################################################################# -->

  <section class="whySAB" id="udelame_sector">

    <div class="row">

      <div class="small-12 columns">

        <h2 class="wow zoomIn"><span class="bold_text">Co</span> pro Vás můžeme udělat?</h2>

      </div>

    </div>

    <div class="row small-up-1 medium-up-3 large-up-6 udelame_boxes wow fadeIn">

      <div class="column">

        <img src="assets/img/item_content_icon_image_1.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Směna na Váš účet

        </p>

      </div>

      <div class="column">

        <img src="assets/img/item_content_icon_image_2.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Platba faktur 			<br />
          Vašim partnerům

        </p>

      </div>

      <div class="column">

        <img src="assets/img/item_content_icon_image_3.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Inkaso od Vašich 			<br />
          obchodních partnerů

        </p>

      </div>

      <div class="column">

        <img src="assets/img/item_content_icon_image_4.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Měnové páry 			<br />
          na Vaše přání

        </p>

      </div>

      <div class="column">

        <img src="assets/img/item_content_icon_image_5.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Hlídání kurzů

        </p>

      </div>

      <div class="column">

        <img src="assets/img/item_content_icon_image_6.png" alt="" title="" class="udelame_item_ico" />

        <p class="bold_text">

          Devizové 			<br />
          poradenství

        </p>

      </div>

    </div>

  </section>

  <!-- #################################################################################################################################################

      SECTION BREAK

  ################################################################################################################################################# -->

  <section class="whySAB wow slideInLeft">

    <div class="row">

      <div class="small-12 columns">

        <h2><span class="bold_text">Jak</span> s námi obchodovat?</h2>

      </div>

    </div>

    <div class="row small-up-1 medium-up-3 large-up-3 obchodovat_boxes">

      <div class="column">

        <div class="row line_blue_left">

          <img src="assets/img/item_content_obchodovat_icon_image_1.png" alt="" title="" class="obchodovat_item_ico" />

        </div>

        <div class="row">

          <h3 class="classical_padd">

            Příprava a podpis rámcové smlouvy

          </h3>

          <p class="classical_padd">

            Rámcová smlouva bude připravena naším
            manažerem devizových obchodů....

          </p>

        </div>

      </div>

      <div class="column">

        <div class="row line_blue_center">

          <img src="assets/img/item_content_obchodovat_icon_image_2.png" alt="" title="" class="obchodovat_item_ico" />

        </div>

        <div class="row">

          <h3 class="classical_padd">

            Uzavření obchodu

          </h3>

          <p class="classical_padd">


            Telefonicky s naším Dealerem, který Vám obratem
            zašle potvrzení na email.

          </p>

        </div>

      </div>

      <div class="column">

        <div class="row line_blue_right">

          <img src="assets/img/item_content_obchodovat_icon_image_3.png" alt="" title="" class="obchodovat_item_ico" />

        </div>

        <div class="row">

          <h3 class="classical_padd">

            Vypořádání obchodu

          </h3>

          <p class="classical_padd">


            Po připsání Vašich peněžních prostředků
            na účet SAB, vypořádáme uzavřený obchod
            ve Váš prospěch.

          </p>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="small-3 small-centered columns text-center">
        <a href="pro-klienty.html" class="button secondary wow jello">Detailnější popis</a>
      </div>

    </div>

  </section>

  <!-- #################################################################################################################################################

      SECTION BREAK

  ################################################################################################################################################# -->

  <section class="sliderik wow fadeIn" id="co_rikaji_backround">

    <div class="row">

      <h2 class="sliderik_title"><span class="bold_text">Co o nás říkají</span> naši klienti?</h2>

    </div>

    <div class="row small-up-1 medium-up-3 large-up-3 wow pulse">

      <div class="column">

        <p  class="justify">

          Dle podkladů od Vás připravíme rámcovou
          smlouvu, kterou obě strany podepíší, smlouva
          je pro Vás....												<br /><br />

          <strong>Tomaš Neznámý, Společnost a. s.</strong>

        </p>

      </div>

      <div class="column">

        <p class="justify">

          Dle podkladů od Vás připravíme rámcovou
          smlouvu, kterou obě strany podepíší, smlouva
          je pro Vás....												<br /><br />

          <strong>Tomaš Neznámý, Společnost a. s.</strong>

        </p>

      </div>

      <div class="column">

        <p class="justify">

          Dle podkladů od Vás připravíme rámcovou
          smlouvu, kterou obě strany podepíší, smlouva
          je pro Vás....												<br /><br />

          <strong>Tomaš Neznámý, Společnost a. s.</strong>

        </p>

      </div>

    </div>

    <div class="row">

      <div class="row center" style="margin-top: 30px;">

        <a href="o-nas.html" class="button wow pulse">Veškeré reference</a>

      </div>

    </div>

  </section>

  <!-- #################################################################################################################################################

      SECTION BREAK

  ################################################################################################################################################# -->

  <div class="row wow slideInUp" id="information_box">

    <!--<div class="part_60">

      <h3>
        Zajímají Vás bližší informace, nebo se chcete stát<br />
        novým klientem? <span class="text_light">Dejte nám vědět!</span>
      </h3>

    </div>

    <div class="part_40" style="text-align: right;">

      <a href="kontakt.html" class="buttonik">Napište nám</a>
      <span class="information_item_move">+420 <span class="bold_text" style="padding-right: 20px;">123 456 789</span> <span class="or">nebo</span></span>

    </div>-->
    <div class="large-7 columns">
      <h3>
        Zajímají Vás bližší informace, nebo se chcete stát<br />
        novým klientem? <span class="text_light">Dejte nám vědět!</span>
      </h3>
    </div>
    <div class="large-5 columns">
      <a href="kontakt.html" class="buttonik">Napište nám</a>
      <span class="information_item_move"><span class="or">nebo</span> +420&nbsp;<span class="bold_text">123&nbsp;456&nbsp;789</span></span>
    </div>

  </div>


  <aside class="whySAB wow fadeIn">

    <div class="row">

      <div class="small-12 columns">

        <h2><span class="bold_text">Zprávy a aktuality</span></h2>

      </div>

    </div>

    <div class="row">

      <div class="part_50 news_box_shadow margin_left_news_box">

        <div class="news_box">

          <h3>

            Toto je speciální nadpis aktuality

          </h3>

          <p class="justify">

            Společnost působí na trhu déle než 12 let a po celou dobu svého působení naplňuje vizi,
            spočívající v poskytování nejvýhodnějších kurzů na trhu. Dnes již otevřeně můžeme říct.
            Společnost působí na trhu déle než 12 let a po celou dobu svého působení naplňuje vizi,
            spočívající v poskytování nejvýhodnějších kurzů na trhu. Dnes již otevřeně můžeme říct.

          </p>

        </div>

        <div class="news_button_box">

          <a href="#"></a>

        </div>

      </div>

      <div class="part_50 news_box_shadow margin_right_news_box">

        <div class="news_box">

          <h3>

            Toto je speciální nadpis aktuality

          </h3>

          <p class="justify">

            Společnost působí na trhu déle než 12 let a po celou dobu svého působení naplňuje vizi,
            spočívající v poskytování nejvýhodnějších kurzů na trhu. Dnes již otevřeně můžeme říct.
            Společnost působí na trhu déle než 12 let a po celou dobu svého působení naplňuje vizi,
            spočívající v poskytování nejvýhodnějších kurzů na trhu. Dnes již otevřeně můžeme říct.

          </p>

        </div>

        <div class="news_button_box">

          <a href="#"></a>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="small-3 small-centered columns text-center">
        <a href="zpravy.html" class="button secondary wow pulse">Veškeré novinky</a>
      </div>

    </div>

  </aside>

  <!-- #################################################################################################################################################

      SECTION BREAK

  ################################################################################################################################################# -->

  <footer>

    <div class="sector wow fadeIn" id="newsletter_section">

      <div class="row">

        <div class="part_70">

          <h2 class="white_text">Přihlásit se k odběru novinek</h2>

          <p>
            Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva
            je pro Vás....
          </p>

        </div>

        <div class="part_30">

          <input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
          <input type="submit" class="input_button_submit" value="ok" />

        </div>

      </div>

    </div>

    <!-- #################################################################################################################################################

        SECTION BREAK

    ################################################################################################################################################# -->

    <div class="sector" id="footer_contact_section">

      <div class="row">

        <div class="part_20">

          <ul>

            <li class="bold_text">Sídlo společnosti - Praha</li>
            <li>SAB Finance a.s.</li>
            <li>Senovážné nám. 1375/19</li>
            <li>110 00 Praha 1 - Nové Město</li>

          </ul>

        </div>

        <div class="part_20">

          <ul>

            <li class="bold_text">Provozovna - Zlín</li>
            <li>SAB Finance a.s.</li>
            <li>Sadová 7</li>
            <li>760 01 Zlín</li>

          </ul>

        </div>

        <div class="part_20">

          <ul>

            <li class="bold_text"><pre>IČ:  24717444</pre></li>
            <li class="bold_text"><pre>DIČ: CZ24717444</pre></li>

          </ul>

        </div>

        <div class="part_40">

          <a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>

        </div>

      </div>

    </div>

  </footer>

</div>
<!--<script src="assets/js/app.js"></script>
</body>
</html>-->


<!--
<div id="slider" class="orbit" role="region" aria-label="Bannery" data-orbit>
  <ul class="orbit-container">
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider1.jpg" alt="Něco">
      <div class="row orbitText">
        <div class="small-12 columns">
          <h2>
            Jsme <b>jedničkou</b> na trhu <b>devizových obchodů</b>
            spotového charakteru.
          </h2>
          <p>
            “Máme přes 13tis. loajálních klientů, s čím můžeme pomoci...”
          </p>
          <a href="#" class="button">Kontaktujte nás</a>
        </div>
      </div>

    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="{{root}}assets/img/slider2.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider3.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider4.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    &lt;!&ndash; More slides... &ndash;&gt;
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<div class="numbers">
  <div class="row">
    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>13 286</strong>
        </div>
        <div class="small-6 columns">
          <em>
            Spokojených klientů
            v našem portfoliu
          </em>
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>150 420</strong>
        </div>
        <div class="small-6 columns">
          <em>
            Vypořádaných obchodů
            v tomto roce, děkujeme!
          </em>
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>1.5mil</strong>
        </div>
        <div class="small-6 columns">
          <em>
            vyřízených
            telefonátů dnes
          </em>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whySAB">
  <div class="row">
    <div class="small-12 columns">
      <h2><b>Proč</b> SAB Finance a.s.?</h2>
    </div>
  </div>
  <div class="links row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/dlouhHv.png" alt="">
          <img src="{{root}}assets/img/dlouh.png" alt="">
          <p>
            <strong>Dlouhodobě nejvýhodnější</strong>
            <br>
            měnové kurzy na trhu
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/zbavHv.png" alt="">
          <img src="{{root}}assets/img/zbav.png" alt="">
          <p>
            <strong>Zbavíme</strong> Vás absurdních
            <br>
            <strong>poplatků</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/bleskoHv.png" alt="">
          <img src="{{root}}assets/img/blesko.png" alt="">
          <p>
            <strong>Bleskové vypořádání</strong>
            <br>
            Vašich plateb
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/transpHv.png" alt="">
          <img src="{{root}}assets/img/transp.png" alt="">
          <p>
            <strong>Transparentnost</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/100Hv.png" alt="">
          <img src="{{root}}assets/img/100.png" alt="">
          <p>
            <strong>100% jistota</strong>
            <br>
            a bezpečnost
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/12letHv.png" alt="">
          <img src="{{root}}assets/img/12let.png" alt="">
          <p>
            <strong>12 let</strong>
            <br>
            zkušeností
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-3 small-centered columns text-center">
      <a href="#" class="button secondary">Více o spolupráci</a>
    </div>
  </div>
</div>


-->
