<!--<!doctype html>
<html lang="cs">

  <head>
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
	<meta name="robots" content="all,follow" />
	<meta name="googlebot" content="snippet,archive" />
	<meta name="resource-type" content="document" />
	
	<meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
	<meta name="keywords" content="Recepty, databaza, domace recepty" />	
	
    <title>SAB finance</title>
	
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />
	
  </head>
  
  <body>-->
  
  <!--<header>
  
	<div class="row" id="mobile_head_navigation_toogle_section">
	
		<button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>
	
	</div>
	
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html" class="actived">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Volné pozice</a>
			<a href="#" class="sub_menu_a">Stáže pro studenty</a>
		
		</div>
	
	</div>
  
  </header>
  
  <div id="fixed_menu" class="sector">
  
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html" class="actived">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Volné pozice</a>
			<a href="#" class="sub_menu_a">Stáže pro studenty</a>
		
		</div>
	
	</div>
  
  </div>-->

<div data-sticky-container id="topBar">
	<div data-sticky data-options="marginTop:0;" style="width:100%">
		<div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div class="title-bar" id="topBarMenu">
			<div class="topBar">
				<div class="row">
					<div class="small-12 columns">
						<div class="top-bar-title">
							<a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
						</div>
						<div>
							<div class="title-bar-left"><!-- Content --></div>
							<div class="title-bar-right">
								<ul class="vertical medium-horizontal menu">
									<li><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
									<li><a href="pro-klienty.html">PRO KLIENTY</a></li>
									<li><a href="o-nas.html">O NÁS</a></li>
									<li><a href="zpravy.html">Zprávy</a></li>
									<li><a href="kariera.html">Kariéra</a></li>
									<li><a href="ke-stazeni.html">Ke stažení</a></li>
									<li><a href="kontakt.html">Kontakty</a></li>
									<li><a href="#" class="button">Mám zájem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="sub_menu">

			<div class="row">

				<a href="#" class="sub_menu_a">Volné pozice</a>
				<a href="#" class="sub_menu_a">Stáže pro studenty</a>

			</div>

		</div>
	</div>
</div>
  
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->  

 	<div class="banner" id="banner_kariera">
	
		<div class="row">
		
			<h1>Rozjeďte svou kariéru na plný plyn</h1>
		
		</div>
	
	</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->
    	
	<section  class="sector koho">
	
		<!--<div class="row" id="koho_hledame_section">
		
			<div class="row classical_pad">
			
				<h2 class="title_decor">
					Koho hledáme?
				</h2>
				
			</div>
			
			<div class="row">
			
			<p>
				Komunikativní, spolehlivé a inteligentní kolegy s proaktivním přístupem k práci a veselým, 
				kolektivním duchem, kteří nám svou energií a zapálením pomohou s upevňováním pozice jasné 
				jedničky na trhu devizových obchodů a s  naším dalším významným růstem.
			<p>
			
			<h3>
				Proč spolupracovat s námi?
			</h3>
			
			<ul>
				
				<li>akční náplň práce</li>
				<li>prestižní pracovní zařazení</li>
				<li>silná proklientská orientace</li>
				<li>opravdu nadstandartní ohodnocen</li>
				<li>týmový duch</li>
				
			</ul>
			
			</div>
		
		</div>-->

		<div class="row">
			<div class="small-12 columns">
				<h2 class="title_decor">
					Koho hledáme?
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<p>
					Komunikativní, spolehlivé a inteligentní kolegy s proaktivním přístupem k práci a veselým,
					kolektivním duchem, kteří nám svou energií a zapálením pomohou s upevňováním pozice jasné
					jedničky na trhu devizových obchodů a s  naším dalším významným růstem.
				<p>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-push-6 columns">
				<img src="{{root}}assets/img/item_kariera.jpg" alt="">
			</div>
			<div class="large-6 large-pull-6 columns">
				<h3>Hlavní důvody, proč se přidat právě k&nbsp;nám:</h3>
				<ul>
					<li>akční náplň práce,</li>
					<li>prestižní pracovní zařazení,</li>
					<li>silná proklientská orientace,</li>
					<li>opravdu nadstandartní ohodnocení,</li>
					<li>týmový duch,</li>
					<li>tržní informace z&nbsp;první ruky.</li>
				</ul>
			</div>
		</div>
	
	</section>

	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->

	<div class="row">
		<div class="small-12 columns">
			<ul class="accordion" data-accordion data-allow-all-closed="true">
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Pracovník oddělení dealing - Dealer</a>
					<div class="accordion-content" data-tab-content>
						I would start in the open state, due to using the `is-active` state class.
					</div>
				</li>
				<li class="accordion-item is-active" data-accordion-item>
					<a href="#" class="accordion-title">Pracovník oddělení Dealing</a>
					<div class="accordion-content" data-tab-content>
						<div class="row">
							<div class="medium-6 columns">
								<h3>Náplň práce:</h3>
								<ul>
									<li>Aktivní obchodování s  klienty</li>
									<li>Sjednávání parametrů spotového obchodu.</li>
									<li>Vystavování a odesílání obchodních podkladů</li>
									<li>Aktivní spolupráce s Manažerem Devizových obchodů a stanovování
									obchodní strategie u klientů</li>
									<li>Péče o stávající klienty</li>
								</ul>
								<h3>Požadujeme:</h3>
								<ul>
									<li>SŠ/VŠ vzdělání</li>
									<li>Vysoká orientace na výsledky</li>
									<li>Schopnost rychlé reakce a improvizace</li>
									<li>Reprezentativní vystupování, vzhled a výborné
									komunikační schopnosti</li>
									<li>Spolehlivost, odpovědnost a samostatnost</li>
									<li>Znalost práce v MS Office</li>
								</ul>
								<h3>Nabízíme:</h3>
								<ul>
									<li>Vysoce nadstandardní ohodnocení v regionu</li>
									<li>Fixní mzdu, neomezenou variabilní složku mzdy
									a další benefity</li>
									<li>Hlavní pracovní poměr v naší společnosti.</li>
									<li>Mobilní telefon a příjemné pracovní prostředí v centru
									krajského města</li>
								</ul>
							</div>
							<div class="medium-6 columns">
								<div class="row">
									<div class="medium-12 large-8 large-offset-4 columns blueInfo">
										<p>
											Zašlete strukturovaný životopis a svou fotografii
											(v elektronické podobě) na e-mailovou adresu
											<br>
											<a href="mailto:kariera@sab.cz">kariera@sab.cz</a>
										</p>
										<p>
											Nástup: <strong>ihned nebo dohodou</strong>
											<br>
											Pracoviště: Zlín
										</p>
										<p>
											<strong>SAB Finance, a. s.</strong>
											<br>
											Senovážné náměstí 1375 / 19
											<br>
											110  00   Praha
											<br>
											Česká republika
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Manažer devizových obchodů</a>
					<div class="accordion-content" data-tab-content>
						I would start in the open state, due to using the `is-active` state class.
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Stáž pro vysokoškolské studenty</a>
					<div class="accordion-content" data-tab-content>
						I would start in the open state, due to using the `is-active` state class.
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<aside class="sliderik classical_pad sector" id="staze_slider" style="margin-top: 60px;">
	
		<div class="row">
			<div class="large-9 medium-8 columns">
				<h2 class="slider_title">Studentské stáže</h2>
				<p class="white_text classical_pad" style="padding-bottom: 0;">
					Dáváme šanci vysokoškolským studentům, kteří hledají stáž,
					nebo chtějí nastartovat svou kariéru v nejvýznamnější finanční instituci
					zabývající se devizovými obchody spotového charakteru na českém trhu.
				</p>
				<p class="white_text">
					Budete mít možnost pracovat na projektech z oblasti financí, obchodu,
					marketingu nebo IT.V současném týmu máme mnoho kolegů
					v  managementu společnosti, kteří zde začínali svou kariéru
					jako stážisti. Ukažte svůj potenciál a staňte se platným členem
					našeho týmu.
				</p>
			</div>
			<div class="large-3 medium-4 columns">
				<p class="paragraph_blue white_text">

					Zaujala Vás nabídka stáže u nás?	<br />
					Kontaktujte nás, ozveme se!			<br /><br />

					<strong>+420 123 456 789</strong>					<br />
					<strong>staz@sab.cz</strong>
				</p>
			</div>
			<!--<div class="part_70">
				
					<h2 class="slider_title">Studentské stáže</h2>

					<p class="white_text max_width classical_pad" style="padding-bottom: 0;">
					
						Dáváme šanci vysokoškolským studentům, kteří hledají stáž, 
						nebo chtějí nastartovat svou kariéru v nejvýznamnější finanční instituci 
						zabývající se devizovými obchody spotového charakteru na českém trhu.
						
					</p>
					
					<p class="white_text max_width">
					
						Budete mít možnost pracovat na projektech z oblasti financí, obchodu, 
						marketingu nebo IT.V současném týmu máme mnoho kolegů 
						v  managementu společnosti, kteří zde začínali svou kariéru 
						jako stážisti. Ukažte svůj potenciál a staňte se platným členem 
						našeho týmu.
					
					</p>
				
			</div>
				
			<div class="part_30">
				
					<p class="paragraph_blue white_text">
					
						Zaujala Vás nabídka stáže u nás?	<br />
						Kontaktujte nás, ozveme se!			<br /><br />
						
						<strong>+420 123 456 789</strong>					<br />
						<strong>staz@sab.cz</strong>

					</p>
			
			</div>-->
			
		</div>
	
	</aside>
	
	<section class="sector">
	
		<div class="row" id="information_box">
			
			  <div class="part_60">
			
				<h3>
					Zajímají Vás bližší informace, nebo se chcete stát<br />
					novým klientem? <span class="text_light">Dejte nám vědět!</span>
				</h3>
				
			  </div>
			  
			  <div class="part_40" style="text-align: right;">
			  
					<a href="kontakt.html" class="buttonik">Napište nám</a>
					<span class="information_item_move">+420 <span class="bold_text" style="padding-right: 20px;">123 456 789</span> nebo</span>
			  
			  </div>
			
		
		</div>	
	
	</section>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    
	<footer class="sector">
	
		<div id="newsletter_section">
		
			<div class="row">
			
				<div class="part_70">
				
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>
				
					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva 
						je pro Vás....
					</p>
				
				</div>
				
				<div class="part_30">
					
					<input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
					<input type="submit" class="input_button_submit" value="ok" />
					
				</div>
				
			</div>
		
		</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    	
		<div class="sector" id="footer_contact_section">
		
	  	  <div class="row">
		
			<div class="part_20">
				
				<ul>
				
					<li class="bold_text">Sídlo společnosti - Praha</li>
					<li>SAB Finance a.s.</li>
					<li>Senovážné nám. 1375/19</li>
					<li>110 00 Praha 1 - Nové Město</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>

					<li class="bold_text">Provozovna - Zlín</li>
					<li>SAB Finance a.s.</li>
					<li>Sadová 7</li>
					<li>760 01 Zlín</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>		
				
					<li class="bold_text"><pre>IČ:  24717444</pre></li>
					<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>
				
				</ul>
				
			</div>
			
			<div class="part_40">
				
				<a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>
				
			</div>
			
		  </div>
		
		</div>
		
	</footer>	
	
<!--
    <script src="assets/js/app.js"></script>
  </body>
</html>-->
