<!--<!doctype html>
<html lang="cs">

  <head>
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
	<meta name="robots" content="all,follow" />
	<meta name="googlebot" content="snippet,archive" />
	<meta name="resource-type" content="document" />
	
	<meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
	<meta name="keywords" content="Recepty, databaza, domace recepty" />	
	
    <title>SAB finance</title>
	
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />
	
  </head>
  
  <body>
  
  <header>
  
	<div class="row" id="mobile_head_navigation_toogle_section">
	
		<button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>
	
	</div>
	
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html" class="actived">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
  
  </header>
  
    <div id="fixed_menu" class="sector">
  
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html" class="actived">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
  
  </div>-->

<div data-sticky-container id="topBar">
	<div data-sticky data-options="marginTop:0;" style="width:100%">
		<div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div class="title-bar" id="topBarMenu">
			<div class="topBar">
				<div class="row">
					<div class="small-12 columns">
						<div class="top-bar-title">
							<a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
						</div>
						<div>
							<div class="title-bar-left"><!-- Content --></div>
							<div class="title-bar-right">
								<ul class="vertical medium-horizontal menu">
									<li><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
									<li><a href="pro-klienty.html">PRO KLIENTY</a></li>
									<li><a href="o-nas.html">O NÁS</a></li>
									<li><a href="zpravy.html">Zprávy</a></li>
									<li><a href="kariera.html">Kariéra</a></li>
									<li><a href="ke-stazeni.html">Ke stažení</a></li>
									<li><a href="kontakt.html">Kontakty</a></li>
									<li><a href="#" class="button">Mám zájem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->  

 	<div class="banner" id="banner_download">
	
		<div class="row">
		
			<h1>Ke stažení</h1>
		
		</div>
	
	</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->

<div class="reveal" id="exampleModal1" data-reveal>
	<h1>Výroční zprávy</h1>
	<table>
		<tr>
			<td><img src="{{root}}assets/img/pdfIco.png" alt="PDF"></td><td>Speciální název soubor(pdf)</td><td class="text-right"><a href="#"><img src="{{root}}assets/img/downloadIco.png" alt="Download">&nbsp;&nbsp;&nbsp;Stáhnout hned</a></td>
		</tr>
		<tr>
			<td><img src="{{root}}assets/img/pdfIco.png" alt="PDF"></td><td>Speciální název soubor(pdf)</td><td class="text-right"><a href="#"><img src="{{root}}assets/img/downloadIco.png" alt="Download">&nbsp;&nbsp;&nbsp;Stáhnout hned</a></td>
		</tr>
		<tr>
			<td><img src="{{root}}assets/img/pdfIco.png" alt="PDF"></td><td>Speciální název soubor(pdf)</td><td class="text-right"><a href="#"><img src="{{root}}assets/img/downloadIco.png" alt="Download">&nbsp;&nbsp;&nbsp;Stáhnout hned</a></td>
		</tr>
		<tr>
			<td><img src="{{root}}assets/img/pdfIco.png" alt="PDF"></td><td>Speciální název soubor(pdf)</td><td class="text-right"><a href="#"><img src="{{root}}assets/img/downloadIco.png" alt="Download">&nbsp;&nbsp;&nbsp;Stáhnout hned</a></td>
		</tr>
		<tr>
			<td><img src="{{root}}assets/img/pdfIco.png" alt="PDF"></td><td>Speciální název soubor(pdf)</td><td class="text-right"><a href="#"><img src="{{root}}assets/img/downloadIco.png" alt="Download">&nbsp;&nbsp;&nbsp;Stáhnout hned</a></td>
		</tr>
	</table>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

	<section class="whySAB">
	
      <div class="links row small-up-1 medium-up-2 large-up-3">
	  
        <article class="column download_box" id="download_box_1">

            <h3>
				<a href="#" data-open="exampleModal1">
					Smluvní dokumentace
				</a>
			</h3>
          
        </article>
		
        <article class="column download_box" id="download_box_2">

            <h3>
				<a href="#">
					Platby
				</a>
			</h3>
          
        </article>
		
		<article class="column download_box" id="download_box_3">

            <h3>
				<a href="#">
					Licence ČNB
				</a>
			</h3>
          
        </article>
		
		<article class="column download_box" id="download_box_4">

            <h3>
				<a href="#">
					SAB finance, a. s.
				</a>
			</h3>
          
        </article>
		
		<article class="column download_box" id="download_box_5">

            <h3>
				<a href="#">
					Výroční zprávy
				</a>
			</h3>
          
        </article>
		
		<article class="column download_box" id="download_box_6">

            <h3>
				<a href="#">
					Ostatní dokumenty
				</a>
			</h3>
          
        </article>
	
      </div>
	  
	</section>
	  
	<div class="row" id="information_box">
			
			  <div class="part_60">
			
				<h3>
					Zajímají Vás bližší informace, nebo se chcete stát<br />
					novým klientem? <span class="text_light">Dejte nám vědět!</span>
				</h3>
				
			  </div>
			  
			  <div class="part_40" style="text-align: right;">
			  
					<a href="kontakt.html" class="buttonik">Napište nám</a>
					<span class="information_item_move">+420 <span class="bold_text" style="padding-right: 20px;">123 456 789</span> nebo</span>
			  
			  </div>
			
		
	</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    
	<footer>
	
		<div class="sector" id="newsletter_section" style="box-sizing: content-box;">
		
			<div class="row">
			
				<div class="part_70">
				
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>
				
					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva 
						je pro Vás....
					</p>
				
				</div>
				
				<div class="part_30">
					
					<input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
					<input type="submit" class="input_button_submit" value="ok" />
					
				</div>
				
			</div>
		
		</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    	
		<div class="sector" id="footer_contact_section">
		
	  	  <div class="row">
		
			<div class="part_20">
				
				<ul>
				
					<li class="bold_text">Sídlo společnosti - Praha</li>
					<li>SAB Finance a.s.</li>
					<li>Senovážné nám. 1375/19</li>
					<li>110 00 Praha 1 - Nové Město</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>

					<li class="bold_text">Provozovna - Zlín</li>
					<li>SAB Finance a.s.</li>
					<li>Sadová 7</li>
					<li>760 01 Zlín</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>		
				
					<li class="bold_text"><pre>IČ:  24717444</pre></li>
					<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>
				
				</ul>
				
			</div>
			
			<div class="part_40">
				
				<a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>
				
			</div>
			
		  </div>
		
		</div>
		
	</footer>
	
 <!--   <script src="assets/js/app.js"></script>
  </body>
</html>-->