<!--<!doctype html>
<html lang="cs">

  <head>
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
	<meta name="robots" content="all,follow" />
	<meta name="googlebot" content="snippet,archive" />
	<meta name="resource-type" content="document" />
	
	<meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
	<meta name="keywords" content="Recepty, databaza, domace recepty" />	
	
    <title>SAB finance</title>
	
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />
	
  </head>
  
  <body>
  
  <header>
  
	<div class="row" id="mobile_head_navigation_toogle_section">
	
		<button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>
	
	</div>
	
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" class="actived">KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
  
  </header>
  
    <div id="fixed_menu" class="sector">
  
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" class="actived">KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
  
  </div>-->

<div data-sticky-container id="topBar">
	<div data-sticky data-options="marginTop:0;" style="width:100%">
		<div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div class="title-bar" id="topBarMenu">
			<div class="topBar">
				<div class="row">
					<div class="small-12 columns">
						<div class="top-bar-title">
							<a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
						</div>
						<div>
							<div class="title-bar-left"><!-- Content --></div>
							<div class="title-bar-right">
								<ul class="vertical medium-horizontal menu">
									<li><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
									<li><a href="pro-klienty.html">PRO KLIENTY</a></li>
									<li><a href="o-nas.html">O NÁS</a></li>
									<li><a href="zpravy.html">Zprávy</a></li>
									<li><a href="kariera.html">Kariéra</a></li>
									<li><a href="ke-stazeni.html">Ke stažení</a></li>
									<li><a href="kontakt.html">Kontakty</a></li>
									<li><a href="#" class="button">Mám zájem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->  

	<div class="banner" id="banner_kontakty">
	
		<div class="row">
		
			<h1>Kontaktujte nás</h1>
		
		</div>
	
	</div>
	
	<section id="rychly_kontakt">
	
		<div class="row">

			<div class="large-6 columns">
				<div>
					<article class="kontakty_box">

						<h3>Sídlo společnosti</h3>

						<ul>
							<li>SAB Finance a.s.</li>
							<li>Senovážné nám. 1375/19</li>
							<li>110 00 Praha 1 - Nové Město</li>
							<li>IČ: 24717444</li>
						</ul>

						<a href="#" class="button">Zobrazit na mapě</a>

					</article>
				</div>
			</div>

			<div class="large-6 columns">
				<div>
					<article class="kontakty_box">

						<h3>Sídlo společnosti</h3>

						<ul>
							<li>SAB Finance a.s.</li>
							<li>Senovážné nám. 1375/19</li>
							<li>110 00 Praha 1 - Nové Město</li>
							<li>IČ: 24717444</li>
						</ul>

						<a href="#" class="button">Zobrazit na mapě</a>

					</article>
				</div>
			</div>
		
			<!--<div class="part_50" id="kontakt_map_1">
			
				&lt;!&ndash; 	ZATIAL OBRAZOK	&ndash;&gt;
			
				<article class="kontakty_box">
				
					<h3>Sídlo společnosti</h3>
				
					<ul>
						<li>SAB Finance a.s.</li>
						<li>Senovážné nám. 1375/19</li>
						<li>110 00 Praha 1 - Nové Město</li>
						<li>IČ: 24717444</li>
					</ul>
					
					<a href="#" class="button">Zobrazit na mapě</a>
				
				</article>
			
			</div>
			
			<div class="part_50" id="kontakt_map_2">
			
				&lt;!&ndash; 	ZATIAL OBRAZOK	&ndash;&gt;
			
				<article class="kontakty_box">
				
					<h3>Sídlo společnosti</h3>
				
					<ul>
						<li>SAB Finance a.s.</li>
						<li>Senovážné nám. 1375/19</li>
						<li>110 00 Praha 1 - Nové Město</li>
						<li>IČ: 24717444</li>
					</ul>
					
					<a href="#" class="button">Zobrazit na mapě</a>
				
				</article>
			
			</div>-->
		
		</div>
	
	</section>
	
	<!--<section id="persons_section">
	
		<div class="row">
		
			<article id="person_box_1">
			
				<div class="row person_box">
				
					<div class="part_90">
				
						<h3>
					
							Oddělení obchodu
					
						</h3>
					
					</div>
					
					<div class="part_10">
					
						<span class="right person_box_nav person_box_toogle"></span>
					
					</div>
				
				</div>
				
				<div class="row person_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="person_box_2">
			
				<div class="row person_box">

					<div class="part_90">
				
						<h3>
					
							Oddělení dealing
					
						</h3>
					
					</div>
				
					<div class="part_10">
					
						<span class="right person_box_nav person_box_toogle"></span>
				
					</div>
				
				</div>
				
				<div class="row person_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="person_box_3">
			
				<div class="row person_box">
					
					<div class="part_90">
				
						<h3>
					
							Reklamační oddělení
					
						</h3>
					
					</div>
					
					<div class="part_10">
					
						<span class="right person_box_nav person_box_toogle"></span>
					
					</div>
				
				</div>
				
				<div class="row person_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="person_box_4">
			
				<div class="row person_box">
				
					<div class="part_90">
				
						<h3>
					
							Sekretariát vedení společnosti
					
						</h3>
					
					</div>
					
					<div class="part_10">
						
						<span class="right person_box_nav person_box_toogle"></span>
				
					</div>
				
				</div>
				
				<div class="row person_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
		
		</div>
	
	</section>-->

<div class="row">
	<div class="small-12 columns">
		<ul class="accordion" data-accordion data-allow-all-closed="true">
			<li class="accordion-item is-active" data-accordion-item>
				<a href="#" class="accordion-title">Oddělení obchodu</a>
				<div class="accordion-content" data-tab-content>
					<div class="row">
						<div class="small-12 columns">
							<p>
								<em>
									Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
								</em>
							</p>
							<p>
								<strong>Tel:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>+420 267 22 02 02</em>
								<br>
								<strong>E-mail:</strong>&nbsp;&nbsp;&nbsp;<em>obchod@sab.cz</em>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Oddělení dealing</a>
				<div class="accordion-content" data-tab-content>
					I would start in the open state, due to using the `is-active` state class.
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Reklamační oddělení</a>
				<div class="accordion-content" data-tab-content>
					I would start in the open state, due to using the `is-active` state class.
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Sekretariát vedení společnosti</a>
				<div class="accordion-content" data-tab-content>
					I would start in the open state, due to using the `is-active` state class.
				</div>
			</li>
		</ul>
	</div>
</div>

<section class="row" id="contactForm">
	<div class="large-4 columns">
		<p>
			<em>
				Neproběhl obchod dle Vašich představ a chtěli
				byste podat reklamaci / stížnost?
			</em>
		</p>
		<p><strong>reklamace@sab.cz</strong></p>
		<p><em>
			Nebo nám napište Váš dotaz či požadavek  zde
			a my se Vám obratem ozveme!
		</em></p>
	</div>
	<div class="large-8 columns">
		<form action="">
			<div class="row">
				<div class="medium-6 columns">
					<label>
						<input type="text" placeholder="Jméno a příjmení">
					</label>
				</div>
				<div class="medium-6 columns">
					<label>
						<input type="tel" placeholder="Telefonní číslo">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>
						<input type="email" placeholder="Emailová adresa">
					</label>
				</div>
				<div class="medium-6 columns">
					<div class="info">
						<img src="../assets/img/item_infor_warning.png" alt="i">Děkujeme Vám, ozveme se brzy...
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label>
						<textarea placeholder="Předvyplněno: Dobrý den, měli bychom zájem o Vaše služby, mohli byste nám zaslat Vaši nabídku?" ></textarea>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-8 columns">
					<label>
						<button type="submit" class="button expanded">Odeslat zprávu</button>
					</label>
				</div>
			</div>
		</form>
	</div>
</section>

	<!--<aside id="kontakt_form_section">
	
		<div class="row">
		
			<div class="part_40">
			
				<p>
					Neproběhl obchod dle Vašich představ a chtěli 
					byste podat reklamaci / stížnost? 
				</p>
				
				<h3>
					reklamace@sab.cz
				</h3>
				
				<p>
					Nebo nám napište Váš dotaz či požadavek  zde 
					a myse Vám obratem ozveme!
				</p>
			
			</div>
			
			<div class="part_60">
			
				<form action="#" method="post">
				
					<div class="row">
						
						<input type="text" class="kontakt_input" name="name" placeholder="Jméno a příjmení" />
						<input type="tel" class="kontakt_input" name="tel" placeholder="Telefonní číslo" />
						
					</div>
					
					<div class="row">
						
							<div class="part_50">
								<input type="email" class="kontakt_input" name="email" placeholder="Emailová adresa" />
							</div>
							
							<div class="part_50">
							
								<p><img src="assets/img/item_infor_warning.png" alt=" " title=" " /> Děkujeme Vám, ozveme se brzy...</p>
							
							</div>
						
					</div>
					
					<div class="row">
					
						<textarea name="message" rows="5">Předvyplněno: Dobrý den, měli bychom zájem o Vaše služby, mohli byste nám zaslat Vaši nabídku?</textarea>
					
					</div>
					
					<div class="row" style="text-align: right;">
					
						<input type="submit" value="Odeslat zprávu" class="input_submit button" />
					
					</div>
				
				</form>
			
			</div>
		
		</div>
	
	</aside>-->
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    
	<footer>
	
		<div class="sector" id="newsletter_section">
		
			<div class="row">
			
				<div class="part_70">
				
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>
				
					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva 
						je pro Vás....
					</p>
				
				</div>
				
				<div class="part_30">
					
					<input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
					<input type="submit" class="input_button_submit" value="ok" />
					
				</div>
				
			</div>
		
		</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    	
		<div class="sector" id="footer_contact_section">
		
	  	  <div class="row">
		
			<div class="part_20">
				
				<ul>
				
					<li class="bold_text">Sídlo společnosti - Praha</li>
					<li>SAB Finance a.s.</li>
					<li>Senovážné nám. 1375/19</li>
					<li>110 00 Praha 1 - Nové Město</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>

					<li class="bold_text">Provozovna - Zlín</li>
					<li>SAB Finance a.s.</li>
					<li>Sadová 7</li>
					<li>760 01 Zlín</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>		
				
					<li class="bold_text"><pre>IČ:  24717444</pre></li>
					<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>
				
				</ul>
				
			</div>
			
			<div class="part_40">
				
				<a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>
				
			</div>
			
		  </div>
		
		</div>
		
	</footer>
	
<!--
    <script src="assets/js/app.js"></script>
  </body>
</html>-->
