<!--<!doctype html>
<html lang="cs">

  <head>
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
	<meta name="robots" content="all,follow" />
	<meta name="googlebot" content="snippet,archive" />
	<meta name="resource-type" content="document" />
	
	<meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
	<meta name="keywords" content="Recepty, databaza, domace recepty" />	
	
    <title>SAB finance</title>
	
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />	
	
  </head>
  
  <body>
  
  <header>
  
	<div class="row" id="mobile_head_navigation_toogle_section">
	
		<button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>
	
	</div>
	
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html"  class="actived">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Historie naší společnosti</a>
			<a href="#" class="sub_menu_a">Náš tým</a>
			<a href="#" class="sub_menu_a">Legislativa</a>
			<a href="#" class="sub_menu_a">Společenský odpovědnost</a>
		
		</div>
	
	</div>
  
  </header>
  
  
    <div id="fixed_menu" class="sector">
  
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html">PRO KLIENTY</a>
				<a href="o-nas.html" class="actived">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Historie naší společnosti</a>
			<a href="#" class="sub_menu_a">Náš tým</a>
			<a href="#" class="sub_menu_a">Legislativa</a>
			<a href="#" class="sub_menu_a">Společenský odpovědnost</a>
		
		</div>
	
	</div>
  
  </div>-->

<div data-sticky-container id="topBar">
	<div data-sticky data-options="marginTop:0;" style="width:100%">
		<div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div class="title-bar" id="topBarMenu">
			<div class="topBar">
				<div class="row">
					<div class="small-12 columns">
						<div class="top-bar-title">
							<a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
						</div>
						<div>
							<div class="title-bar-left"><!-- Content --></div>
							<div class="title-bar-right">
								<ul class="vertical medium-horizontal menu">
									<li><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
									<li><a href="pro-klienty.html">PRO KLIENTY</a></li>
									<li><a href="o-nas.html">O NÁS</a></li>
									<li><a href="zpravy.html">Zprávy</a></li>
									<li><a href="kariera.html">Kariéra</a></li>
									<li><a href="ke-stazeni.html">Ke stažení</a></li>
									<li><a href="kontakt.html">Kontakty</a></li>
									<li><a href="#" class="button">Mám zájem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="sub_menu">

			<div class="row">

				<a href="#" class="sub_menu_a">Historie naší společnosti</a>
				<a href="#" class="sub_menu_a">Náš tým</a>
				<a href="#" class="sub_menu_a">Legislativa</a>
				<a href="#" class="sub_menu_a">Společenská odpovědnost</a>

			</div>

		</div>
	</div>
</div>

	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->

<div class="banner" id="banner_o_spolecnosti">

	<div class="row">

		<h1>O společnosti SAB Finance a.s.</h1>

	</div>

</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->

<section style="float: left; width: 100%;" class="slovakFix">

	<div class="row">
		<div class="medium-6 columns">
			<p><br><br></p>
			<p>Společnost působí na trhu déle než 10 let a po celou dobu svého působení naplňuje vizi, spočívající v  poskytování nejvýhodnějších devizových kurzů.</p>

			<p>Dnes již otevřeně můžeme říct, že jsme významně přispěli k vyšší transparentnosti
				tuzemského devizového trhu a zasadili se o zlepšení celého konkurenčního prostředí při poskytování směnných kurzů. Snížení kurzových marží a rozdílů mezi nákupem a prodejem
				cizí měny jsou jedním z  mnoha pozitivních efektů, které se nám za celou dobu působnosti odařilo realizovat.</p>
		</div>
		<div class="medium-6 columns">
			<img src="assets/img/o-spolecnosti.jpg" alt="O společnosti">
		</div>
	</div>

	<div class="row title_box">

		<h2 class="title_decor">Historie společnosti</h2>

	</div>

	<!--<script type="text/javascript" src="{$media_path}js/timeline.js"></script>-->

	<div class="timeline" id="timeline">
		<div class="row">
			<div class="small-6 columns left year">
				<div class="item" data-year="2015">
					<div class="container">
						<div class="content-wrapper">
							<span>2015</span>
							<h3>Slavíme 10 letou historii</h3>
							<p>
								Po celou dobu našeho působení naplňujeme vizi, kterou jsme
								si odvážně stanovili na počátku roku 2005 a která nám
								umožnila stát se významným partnerem, zásadně ovlivňující
								fungování devizového trhu.
							</p>
						</div>
					</div>
				</div>
				<div class="item" data-year="2013">
					<div class="container">
						<div class="content-wrapper">
							<span>2013</span>
							Něco
						</div>
					</div>
				</div>
				<div class="item" data-year="2005">
					<div class="container">
						<div class="content-wrapper">
							<span>2005</span>
							Něco
						</div>
					</div>
				</div>
				<div class="item" data-year="2013">
					<div class="container">
						<div class="content-wrapper">
							<span>1990</span>
							Něco
						</div>
					</div>
				</div>
			</div>
			<div class="small-6 columns right year">
				<div class="item" data-year="2016">
					<div class="container">
						<div class="content-wrapper">
							<span>2016</span>
							<h3>Slavíme 10 letou historii</h3>
							<p>
								Po celou dobu našeho působení naplňujeme vizi, kterou jsme
								si odvážně stanovili na počátku roku 2005 a která nám
								umožnila stát se významným partnerem, zásadně ovlivňující
								fungování devizového trhu.
							</p>
						</div>
					</div>
				</div>
				<div class="item" data-year="2014">
					<div class="container">
						<div class="content-wrapper">
							<span>2014</span>
							Zase něco
						</div>
					</div>
				</div>
				<div class="item" data-year="2012">
					<div class="container">
						<div class="content-wrapper">
							<span>2012</span>
							Zase něco
						</div>
					</div>
				</div>
				<div class="item" data-year="2014">
					<div class="container">
						<div class="content-wrapper">
							<span>2000</span>
							Zase něco
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!--<div class="row">
		<div id="timeline-container-basic" type="text"></div>
	</div>-->

	<!--<div class="row">
		<div class="o-spolecnosti_timeline clearfix">
			<div class="o-spolecnosti_timeline_box1">
				<img src="assets/img/timeline-arrow-right.png">
				<strong>Slavíme 10 letou historii</strong>
				<p>
					Po celou dobu našeho působení naplňujeme vizi, kterou jsme
					si odvážně stanovili na počátku roku 2005 a která nám
					umožnila stát se významným partnerem, zásadně ovlivňující
					fungování devizového trhu.
				</p>
			</div>
			<div class="o-spolecnosti_timeline_box2">
				<img src="assets/img/timeline-arrow-left.png">
				<strong>Měníme nejlevnější kurzy za nejvýhodnější služby</strong>
				<p>
					Spoluprací s námi získávají klienti nejen nejvýhodnější kurzy
					na trhu, ale mnohdy i vypořádání obchodu v řádu několika
					minut.
				</p>
			</div>
			<div class="o-spolecnosti_timeline_box3">
				<img src="assets/img/timeline-arrow-right.png">
				<strong>Hranice 10.000 klientů a 100 miliardového obratu prolomena.</strong>
				<p>
					Soustavný růst obratu doprovází i velký nárůst klientů,
					kterým vděčíme za spolupráci. I nadále vylepšujeme již
					nejlepší podmínky v rámci poskytovaných kurzů.
				</p>
			</div>
			<div class="o-spolecnosti_timeline_box4">
				<img src="assets/img/timeline-arrow-left.png">
				<strong>Jedničkou na trhu v oblasti spotových obchodů.</strong>
				<p>
					Smazali jsme mnohaletý náskok konkurenčních společností
					a stali jsme se s obratem více než 76 miliard CZK jednoznačným
					lídrem českého devizového trhu. Cílem do dalších let je
					upevnění získané pozice.
				</p>
			</div>
		</div>
	</div>-->

</section>

<section>
	<div class="row title_box">

		<h2 class="title_decor">Poznejte náš tým</h2>

	</div>
</section>

<section class="legislativa">
	<div class="row title_box">
		<div class="small-12 columns">
			<h2 class="title_decor">Legislativa</h2>
		</div>
	</div>

	<div class="row small-up-1 medium-up-2 large-up-3">
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>
		<div class="column">
			<div class="udelame_box" id="udelame_box_spolecnost1">

				<h3>
					ČESKÁ NÁRODNÍ BANKA
				</h3>

				<ul>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
					<li>
						Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
					</li>
				</ul>

			</div>
		</div>

	</div>
</section>

<section>

	<div class="row title_box">

		<h2 class="title_decor">Legislativa</h2>

	</div>

	<div class="row">
		<p>Naše společnost striktně dodržuje níže uvedené zákony, vyhlášky a nařízení, které Vám společně s regulací a dohledem České národní banky zajišťují 100% jistotu, bezpečnost a kvalitu námi poskytovaných služeb.</p>

		<div class="sector">

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost1">

					<h3>
						ČESKÁ NÁRODNÍ BANKA
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost2">

					<h3>
						KOMERČNÍ BANKY
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost3">

					<h3>
						NAŘÍZENÍ VLÁDY
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost4">

					<h3>
						VYHLÁŠKY
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost5">

					<h3>
						ZÁKONY
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

			<article class="part_33">

				<div class="udelame_box" id="udelame_box_spolecnost6">

					<h3>
						AUDIT KMPG
					</h3>

					<ul>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
						<li>
							Nařízení Evropského parlamentu a rady (ES) č.994/2009 ze dne 16. září 2009
						</li>
					</ul>

				</div>

			</article>

		</div>
	</div>
</section>

<section class="o-spolecnosti_banner">
	<div class="row">
		<div class="row title_box">
			<h2 class="title_decor">Naše okolí nám není jedno</h2>
		</div>
	</div>
	<div class="row">
		<div class="medium-6  columns">
			<p>Všeobecně definována jako dobrovolný závazek firem chovat se v rámci
				svého fungování odpovědně k prostředí a společnosti, ve které podnikají.
				Jako nevýrobní společnost míříme odpovědnost naší společnosti především
				do oblasti ekonomické a sociální.</p>
		</div>
		<div class="medium-6 columns">
			<p>Naše projekty:</p>
			<ul>
				<li>Sbírka zaměstnanců pro Dětský domov Zlín Český den proti rakovině</li>
			</ul>
		</div>
	</div>
	<div class="row center">
		<a href="#" class="button">Zjistětě více</a>
	</div>
</section>

<section class="o-spolecnosti_boxy">
	<div class="row">
		<div class="large-4 columns">
			<div>
				<strong>Proč spolupracovat s námi</strong>
				<br>
				<p>Vyberte si nejsílnějšího partnera pro devizové obchody</p>
				<br>
				<a href="#" class="button">Hlavní důvody</a>
			</div>
		</div>
		<div class="large-4 columns">
			<div>
				<strong>Jak s námi začít obchodovat</strong>
				<br>
				<p>Podívejte se, jak je u nás vše snadné a rychlé</p>
				<br>
				<a href="#" class="button">Přesný postup</a>
			</div>
		</div>
		<div class="large-4 columns">
			<div>
				<strong>Novinky na SABu</strong>
				<br>
				<p>Co se děje v našich kancelářích i mimo ně ...</p>
				<br>
				<a href="#" class="button">Přesný postup</a>
			</div>
		</div>
	</div>
</section>

<div class="row wow slideInUp" id="information_box" style="visibility: visible; animation-name: slideInUp;">
	<div class="large-7 columns">
		<h3>
			Zajímají Vás bližší informace, nebo se chcete stát<br>
			novým klientem? <span class="text_light">Dejte nám vědět!</span>
		</h3>
	</div>
	<div class="large-5 columns">
		<a href="kontakt.html" class="buttonik">Napište nám</a>
		<span class="information_item_move"><span class="or">nebo</span> +420&nbsp;<span class="bold_text">123&nbsp;456&nbsp;789</span></span>
	</div>
</div>

	<!--<section class="sector">
	
		<div class="row title_box classical_pad">
		
			<h2 class="title_decor">
			
				O společnosti SAB finance, a. s.
				
			</h2>
			
		</div>
		
		<div class="row">
			
			<p>
			
				Společnost působí na trhu déle než 10 let a po celou dobu svého působení naplňuje vizi, spočívající v 
				poskytování nejvýhodnějších devizových kurzů. Dnes již otevřeně můžeme říct, že jsme významně přispěli 
				k vyšší transparentnosti tuzemského devizového trhu a zasadili se o zlepšení celého konkurenčního 
				prostředí při poskytování směnných kurzů. Snížení kurzových marží a rozdílů mezi nákupem a prodejem cizí 
				měny jsou jedním z mnoha pozitivních efektů, které se nám za celou dobu působnosti podařilo realizovat.
			
			</p>
		
		</div>
	
	</section>-->
	
	<!--<section id="history_section" class="sector" style="margin-bottom: 60px;">
	
		<div class="row title_box classical_pad">
		
			<h2 class="title_decor">
			
				Historie společnosti
				
			</h2>
		
		</div>
		
		<article class="row">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2015</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Slavíme 10 letou historii
					
					</h3>
					
					<p>
					
						Po celou dobu našeho působení naplňujeme vizi, 
						kterou jsme si odvážně stanovili na počátku roku 2005 
						a která nám umožnila stát se významným partnerem,
						zásadně ovlivňující fungování devizového trhu.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2014</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Měníme nejlepší kurzy za nejvýhodnější služby
					
					</h3>
					
					<p>
					
						Spoluprací s námi získávají klienti nejen nejvýhodnější kurzy na trhu, 
						ale mnohdy vypořádání obchodu v řádu několika minut.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2013</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Hranice 10.000 klientů a 100 miliardového 
						obratu prolomena
					
					</h3>
					
					<p>
					
						Soustavný růst obratu doprovází i velký nárůst klientů, 
						kterým vděčíme za spolupráci. I nadále vylepšujeme 
						již nejlepší podmínky v rámci poskytovaných kurzů.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2012</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Jedničkou na trhu v oblasti spotových obchodů
					
					</h3>
					
					<p>
					
						Smazali jsme mnohaletý náskok konkurenčních
						společností a stali jsme se s obratem více než 76 miliard 
						CZK jednoznačným lídrem českého devizového trhu. 
						Cílem o dalších let je upevnění získané pozice.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2011</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Licence Platební instituce a SAB Finance a.s.
					
					</h3>
					
					<p>
					
						S ohledem na změnu legislativy, týkající se devizového 
						zákona resp. vyhlášky o platebních institucích, 
						máme povinnost získat novou licenci k provozování 
						činnosti platební instituce. Ta je nám úspěšně udělena 
						ze strany ČNB. Zároveň dochází k transformaci 
						naší společnosti na SAB Finance a.s.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2010</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Rok rekordního růstu
					
					</h3>
					
					<p>
					
						Dosáhli jsme dvojnásobného obratu. Téměř 50 
						miliardová hranice obratu nás posouvá k trojce 
						největších společností v oblasti devizových obchodů.  
						Naší ambicí je stát se jedničkou!
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2009</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Rok bilancování
					
					</h3>
					
					<p>
					
						Po téměř pětiletém období dochází ke změnám 
						ve vnitřní struktuře společnosti s jediným cílem 
						– jak dosáhnout ještě větších úspěchů s nejlepšími kurzy 
						na trhu a uspokojit tak více klientů.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2008</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Partnerství s ING
					
					</h3>
					
					<p>
					
						Důležitým milníkem v naplňování firemní strategie 
						se stává uzavření partnerství s významným forexovým 
						providerem na trhu, kterým je ING Bank pobočka Praha. 
						Tímto krokem jsme zvýšili komfort vůči našim klientům 
						především v oblastech výhodnějších kurzů, rychlejšího 
						vypořádání obchodů a obchodování ve všech světových 
						měnách.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2007</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Počet klientů přesáhl 1000
					
					</h3>
					
					<p>
					
						Překročili jsme hranici 1000 klientů a pokračujeme 
						v  jejich získávání.dvouciferným tempem v  oblasti 
						obratu a rozšiřujeme obchodní tým.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2006</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Měníme trh devizových obchodů
					
					</h3>
					
					<p>
					
						Stále více si uvědomujeme, jak námi poskytované kurzy 
						mění dosavadní fungování devizového trhu a jak 
						významným hráčem na trhu se stáváme. Výsledky 
						společnosti spočívající především v dvouciferném nárůstu 
						obratu nás ujišťují, že jsme se vydali správnou cestou 
						a postupně naplňujeme naši vizi.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2005</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Vize společnosti a rozvoj obchodních aktivit
					
					</h3>
					
					<p>
					
						Začínají vznikat první nápady, jak klientům poskytovat 
						nejlepší kurzy na trhu v oblasti spotových obchodů 
						s  rychlým vypořádáním. Probíhá akvizice nových klientů 
						z  řad malých, středních i korporátních společností. 
						Velkým úspěchem je spolupráce s významnou miliardovou 
						exportní společnosti Česká zbrojovka a.s.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>2004</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Získání devizové licence od ČNB
					
					</h3>
					
					<p>
					
						Tato licence opravňuje naši společnost k  provádění 
						devizových obchodů za účelem nákupu a prodeje 
						cizí měny.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<span class="circle_digits_year">
						<span>1994</span>
					</span>
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Vize společnosti a rozvoj obchodních aktivit
					
					</h3>
					
					<p>
					
						Začínají vznikat první nápady, jak klientům poskytovat 
						nejlepší kurzy na trhu v oblasti spotových obchodů 
						s  rychlým vypořádáním. Probíhá akvizice nových klientů 
						z  řad malých, středních i korporátních společností. 
						Velkým úspěchem je spolupráce s významnou miliardovou 
						exportní společnosti Česká zbrojovka a.s.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
	</section>-->
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->  
	
	<!--<section>
	
		<div class="row title_box classical_pad">
		
			<h2 class="title_decor">
			
				Poznejte náš tým
				
			</h2>
		
		</div>
		
		<div class="row">
		
			<a href="#" class="button">Vedení naší společnosti</a>
			<a href="#" class="button">Obchodní tým</a>
			<a href="#" class="button">Oddělení dealingu</a>
		
		</div>
		
		<div class="row classical_pad">
		
			<div class="part_25 employee_box" id="employee_1">
			
				<h3 class="profile_text">
					Ing. Tomáš Jedno<br />
					<span class="light_text">Jednatel společnosti / CEO</span>
				</h3>
				
			</div>
			
			<div class="part_25 employee_box" id="employee_2">
			
				<h3 class="profile_text">
					Ing. Tomáš Jedno<br />
					<span class="light_text">Jednatel společnosti / CEO</span>
				</h3>	
				
			</div>
			
			<div class="part_25 employee_box" id="employee_3">
			
				<h3 class="profile_text">
					Ing. Tomáš Jedno<br />
					<span class="light_text">Jednatel společnosti / CEO</span>
				</h3>
				
			</div>
			
			<div class="part_25 employee_box" id="employee_4">
			
				<h3 class="profile_text">
					Ing. Tomáš Jedno<br />
					<span class="light_text">Jednatel společnosti / CEO</span>
				</h3>
				
			</div>
		
		</div>
	
	</section>
	-->
	<!--<section class="sliderik" id="social_behavior_slider">
	
		<div class="row">
		
			<div class="part_70">
				
					<h2 class="slider_title">Společenská odpovědnost firmy</h2>

					<p class="white_text">
					
						Velký že sněhová mexiko z stromů životního zářivě vyvracejí podceňována 
						kontrakt čtyř stopy, starou půl všímají chytré přišla inteligenci souboru, 
						rysů dubnu, u životu vyklenuje vysvětlit. 
						
					</p>
				
			</div>
				
			<div class="part_30">
				
					<ul class="white_text">
					
						<li>
							Velký že sněhová mexiko z stromů životního 
							zářivě vyvracejí podceňována
						</li>
						
						<li>
							Kontrakt čtyř stopy, starou půl všímají chytré 
							přišla inteligenci souboru,
						</li>
						
					</ul>

			</div>
			
		</div>
		
		<div class="row center">
			
			<a href="#" class="button">Zjistěte více</a>
			
		</div>
	
	</section>-->
	
	<!--<section>
	
		<div class="row">
		
			<div class="part_50">
			
				<div class="row title_box">
			
					<h2 class="title_decor">
				
						Legislativa
				
					</h2>
					
				</div>
				
				<div class="row">
				
				<p>
				
					Naše společnost striktně dodržuje níže uvedené zákony, vyhlášky a nařízení, 
					které Vám společně s regulací a dohledem České národní banky zajišťují 100% 
					jistotu, bezpečnost a kvalitu námi poskytovaných služeb.
				
				</p>
				
				<h3>
				
					Audit KPMG
					
				</h3>
			
				<p>
					
					Každoročně u nás probíhá kontrola účetnictví auditorskou společností KPMG, 
					která se řadí mezi tzv. Velké čtyřky. Dlouhodobá spolupráce a pozitivní 
					výrok auditora jsou důkazem toho, že nastavené interní procesy společnosti 
					jsou plně v souladu s platnou legislativou a splňují náročná regulatorní nařízení ČNB.
					
				</p>
				
				</div>
			
			</div>
			
			<div class="part_50">
			
				<img src="assets/img/item_tree.png" alt="" title="" class="item_tree_image"/>
			
			</div>
		
		</div>
	
	</section>-->
	
		<!--<div class="row small-up-1 medium-up-3 large-up-3">
		
			<article class="column center">
			
				<h3>
					Proč spolupracovat právě s námi
				</h3>
				
				<p>
					Vyberte si nejsilnějšího
					partnera pro devizové obchody.
				</p>
				
				<a href="#" class="button">Hlavní důvody</a>
			
			</article>
			
			<article class="column center">
			
				<h3>
					Proč spolupracovat právě s námi
				</h3>
				
				<p>
					Podívejte se, jak je 
					u nás vše snadné a rychlé.  i mimo ni?
				</p>
				
				<a href="#" class="button">Přesný postup</a>
			
			</article>
			
			<article class="column center">
			
				<h3>
					Proč spolupracovat právě s námi
				</h3>
				
				<p>
					Co se děje v našich kancelářích
					i mimo ně...
				</p>
				
				<a href="#" class="button">Přesný postup</a>
			
			</article>
		
		</div>-->
	
	<!--<section>
	
	</section>
	
	<div class="row" id="information_box">
			
			  <div class="part_60">
			
				<h3>
					Zajímají Vás bližší informace, nebo se chcete stát<br />
					novým klientem? <span class="text_light">Dejte nám vědět!</span>
				</h3>
				
			  </div>
			  
			  <div class="part_40" style="text-align: right;">
			  
					<a href="kontakt.html" class="buttonik">Napište nám</a>
					<span class="information_item_move">+420 <span class="bold_text" style="padding-right: 20px;">123 456 789</span> nebo</span>
			  
			  </div>
			
		
	</div>	
	
	<div class="map_slider">
	
		<div class="row">
		
			<div class="map_kontakt_box">
			
				<h2></h2>
				
				<p>
					
					<strong>SAB finance, a. s. - Zlín</strong>						<br />
					Speciální Adresa 152/85,										<br />
					123 45 ZLÍN														<br /><br />

					<strong>+420 123 456 789</strong>								<br />
					<strong>info@sab.cz</strong>
					
				</p>
				
				<p>
				
					<strong>SAB finance, a. s. - Praha</strong>						<br />
					Speciální Adresa 152/85,										<br />
					123 45 PRAHA													<br /><br />
					
					<strong>+420 123 456 789</strong>								<br />
					<strong>info@sab.cz</strong>					
				
				</p>
				
				<a href="#" class="button">Zobrazit na celé mapě</a>
			
			</div>
		
		</div>
	
	</div>-->
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    
	<footer>
	
		<div class="sector" id="newsletter_section">
		
			<div class="row">
			
				<div class="part_70">
				
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>
				
					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva 
						je pro Vás....
					</p>
				
				</div>
				
				<div class="part_30">
					
					<input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
					<input type="submit" class="input_button_submit" value="ok" />
					
				</div>
				
			</div>
		
		</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	

		<div id="footer_contact_section">
			<div class="row text-center medium-text-left">
				<div class="medium-4 large-3 columns">
					<ul>

						<li class="bold_text">Sídlo společnosti - Praha</li>
						<li>SAB Finance a.s.</li>
						<li>Senovážné nám. 1375/19</li>
						<li>110 00 Praha 1 - Nové Město</li>

					</ul>
				</div>
				<div class="medium-3 large-2 columns">
					<ul>

						<li class="bold_text">Provozovna - Zlín</li>
						<li>SAB Finance a.s.</li>
						<li>Sadová 7</li>
						<li>760 01 Zlín</li>

					</ul>
				</div>
				<div class="medium-3 large-2 columns end">
					<ul>

						<li class="bold_text"><pre>IČ:  24717444</pre></li>
						<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>

					</ul>
				</div>
			</div>
		</div>

		<!--<div class="sector" id="footer_contact_section">
		
	  	  <div class="row">
		
			<div class="part_20">
				
				<ul>
				
					<li class="bold_text">Sídlo společnosti - Praha</li>
					<li>SAB Finance a.s.</li>
					<li>Senovážné nám. 1375/19</li>
					<li>110 00 Praha 1 - Nové Město</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>

					<li class="bold_text">Provozovna - Zlín</li>
					<li>SAB Finance a.s.</li>
					<li>Sadová 7</li>
					<li>760 01 Zlín</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>		
				
					<li class="bold_text"><pre>IČ:  24717444</pre></li>
					<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>
				
				</ul>
				
			</div>
			
			<div class="part_40">
				
				<a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>
				
			</div>
			
		  </div>
		
		</div>-->
		
	</footer>
<!--

    <script src="assets/js/app.js"></script>
  </body>
</html>-->
