<!--
<!doctype html>
<html lang="cs">

  <head>
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
	<meta name="robots" content="all,follow" />
	<meta name="googlebot" content="snippet,archive" />
	<meta name="resource-type" content="document" />
	
	<meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
	<meta name="keywords" content="Recepty, databaza, domace recepty" />	
	
    <title>SAB finance</title>
	
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/app.css">
	<link href="assets/css/smatana.css" rel="stylesheet" type="text/css" />	
	
  </head>
  
  <body>
  
  <header>
  
	<div class="row" id="mobile_head_navigation_toogle_section">
	
		<button class="menu-icon" type="button" id="mobile_head_navigation_toogle"></button>
	
	</div>
	
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html" class="actived">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Výhody spolupráce</a>
			<a href="#" class="sub_menu_a">Bankovní spojení</a>
			<a href="#" class="sub_menu_a">Co nabízíme</a>
			<a href="#" class="sub_menu_a">O spolupráci</a>
			<a href="#" class="sub_menu_a">Reference</a>
			<a href="#" class="sub_menu_a">Nejčastěji řešíte</a>
		
		</div>
	
	</div>
  
  </header>
  
    <div id="fixed_menu" class="sector">
  
	<div class="row">
	
		<div class="logo_box">
			
			<a href="#"><img src="assets/img/logoSab.png" alt="sab"></a>
			
		</div>
		
		<nav class="head_navigation_box">
			
			<span class="right">
			
				<a href="index.html"><img src="assets/img/home.png" alt="Domů"></a>
				<a href="pro-klienty.html" class="actived">PRO KLIENTY</a>
				<a href="o-nas.html">O NÁS</a>
				<a href="zpravy.html">ZPRÁVY</a>
				<a href="kariera.html">KARIÉRA</a>
				<a href="ke-stazeni.html">KE STAŽENÍ</a>
				<a href="kontakt.html" >KONTAKTY</a>
				
			</span>
			
		</nav>
		
		<div class="menu_button_box">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
			
		</div>
	
	</div>
	
	<div id="sub_menu">
	
		<div class="row">
		
			<a href="#" class="sub_menu_a">Výhody spolupráce</a>
			<a href="#" class="sub_menu_a">Bankovní spojení</a>
			<a href="#" class="sub_menu_a">Co nabízíme</a>
			<a href="#" class="sub_menu_a">O spolupráci</a>
			<a href="#" class="sub_menu_a">Reference</a>
			<a href="#" class="sub_menu_a">Nejčastěji řešíte</a>
		
		</div>
	
	</div>
  
  </div>
-->

<div data-sticky-container id="topBar">
	<div data-sticky data-options="marginTop:0;" style="width:100%">
		<div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div class="title-bar" id="topBarMenu">
			<div class="topBar">
				<div class="row">
					<div class="small-12 columns">
						<div class="top-bar-title">
							<a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
						</div>
						<div>
							<div class="title-bar-left"><!-- Content --></div>
							<div class="title-bar-right">
								<ul class="vertical large-horizontal menu">
									<li><a href="index.html"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
									<li><a href="pro-klienty.html">PRO KLIENTY</a></li>
									<li><a href="o-nas.html">O NÁS</a></li>
									<li><a href="zpravy.html">Zprávy</a></li>
									<li><a href="kariera.html">Kariéra</a></li>
									<li><a href="ke-stazeni.html">Ke stažení</a></li>
									<li><a href="kontakt.html">Kontakty</a></li>
									<li><a href="#" class="button">Mám zájem</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="sub_menu">

			<div class="row">

				<a href="#" class="sub_menu_a">Výhody spolupráce</a>
				<a href="#" class="sub_menu_a">Bankovní spojení</a>
				<a href="#" class="sub_menu_a">Co nabízíme</a>
				<a href="#" class="sub_menu_a">O spolupráci</a>
				<a href="#" class="sub_menu_a">Reference</a>
				<a href="#" class="sub_menu_a">Nejčastěji řešíte</a>

			</div>

		</div>
	</div>
</div>

	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->  

	<div class="banner" id="banner_pro_klienty">
	
		<div class="row">
		
			<h1>Obchodování s námi Vám bude dělat radost...</h1>
		
		</div>
	
	</div>
	
	<section style="float: left; width: 100%;" class="slovakFix procSpolupracovat">
	
		<div class="row title_box">
		
			<div class="small-12 columns">
				<h2 class="title_decor">Proč spolupracovat s námi</h2>
			</div>
		
		</div>

		<div class="row">
			<div class="small-up-1 medium-up-2 large-up-3">
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="row">
						<div class="small-3 columns">
							<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
						</div>
						<div class="small-9 columns">
							<h3>

								Jsme jedničkou na trhu

							</h3>

							<p>

								Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!--<div class="row">
		
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_palec.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						Jsme jedničkou na trhu
					
					</h3>
					
					<p>
					
						Dlouhodobě se držíme naší vize poskytovat klientům nejvýhodnější měnové kurzy na trhu.
					
					</p>
				
				</div>
			
			</article>
			
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_pig.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						Zbavíme Vás absurdních poplatků
					
					</h3>
					
					<p>
					
						Žádné ceníky či pásma za jednotlivé platby. Ke každému z Vás přistoupíme individuálně s 
						ohledem na Vaši devizovou potřebu, četnost plateb a rychlost připsání peněžních prostředků 
					
					</p>
				
				</div>
			
			</article>
			
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_storm.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						Bleskové vypořádání Vašich plateb
					
					</h3>
					
					<p>
					
						Vysoká likvidita SAB na denní bázi nám dovoluje připsání tuzemských plateb v několika minutách, 
						zahraniční platby v závislosti na bance příjemce připisujeme do 24-48 h. Přehled bankovních
					
					</p>
				
				</div>
				
			</article>
			
		</div>
		
		<div class="row">
			
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_view.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						Transparentnost
					
					</h3>
					
					<p>
					
						Vždy přesně víte, kolik zaplatíte. Nehrozí tak žádné skryté poplatky a na první pohled snadno vyčíslíte viditelnou úsporu.
					
					</p>
				
				</div>
			
			</article>
			
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_square.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						100% jistota a bezpečnost
					
					</h3>
					
					<p>
					
						Regulace a dohled ČNB Vám dává záruku kvality a spolehlivosti námi poskytovaných služeb. Více k Vaší bezpečnosti se dozvíte zde.
					
					</p>
				
				</div>
			
			</article>
			
			<article class="part_33">
			
				<div class="part_20">
				
					<img src="assets/img/icon_pro_klienta_star.png" alt=" " title=" " class="item_pro_klienta_icons" />
				
				</div>
				
				<div class="part_80">
				
					<h3>
					
						12 let zkušeností
					
					</h3>
					
					<p>
					
						Za naši historii jsme směnili více než půl bilionu korun a každý den klientům ušetříme až 1 milion korun. Více k naší historii se dozvíte zde.
					
					</p>
				
				</div>
			
			</article>
		
		</div>-->
	
	</section>
	
	
	
	
	
	<section>
	
		<div class="row title_box">
		
			<h2 class="title_decor">Co pro vás můžeme udělat?</h2>
		
		</div>
	
		<div class="row">
		
		  <div class="sector">
		
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_1">
				
					<h3>
						SMĚNA NA VÁŠ ÚČET
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
			
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_2">
				
					<h3>
						SMĚNA NA VÁŠ ÚČET
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
			
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_3">
				
					<h3>
						INKASO OD VAŠICH
						OBCHODNÍCH PARTNERŮ
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
			
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_4">
				
					<h3>
						HLÍDÁNÍ KURZŮ
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
			
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_5">
				
					<h3>
						MĚNOVÉ PÁRY
						NA VAŠE PŘÁNÍ
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
			
			<article class="part_33">
				
				<div class="udelame_box" id="udelame_box_6">
				
					<h3>
						DEVIZOVÉ PORADENSTVÍ
					</h3>

					<ul>
						<li>
							Ušetříte na poplatku, který si bank
							účtuje při platbě do zahraničí.
						</li>
						<li>
							Směněné peníze pošleme rovnou
							Vašemu obchodnímu partnerovi po
							celém světě.
						</li>
						<li>
							Urychlíme platbu - díky naší
							spolupráci s mezinárodními bankami
							- až o 2 dny
						</li>
					</ul>
				
				</div>
			
			</article>
		
		</div>
	  </div>
	</section>
	
<section id="jakSpolupracovat">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="title_decor">Jak s námi začít spolupracovat?</h2>
		</div>
	</div>
	<div class="row a">
		<div class="large-11 large-offset-1 small-12 columns end">
			<div class="row">
				<div class="large-2 medium-2 columns">
					<img src="{{root}}assets/img/icon_pro_klienta_1.png" alt="1.">
				</div>
				<div class="large-10 medium-10 columns">
					<h3>
						Uzavření rámcové smlouvy
					</h3>
					<p>
					</p>
					<ul>
						<li>Osobní návštěva manažerem devizových obchodů.</li>
						<li>Předání veškerých informací o spolupráci.</li>
						<li>Příprava rámcové smlouvy.</li>
					</ul>
					<p>
						Potřebné dokumenty:
					</p>
					<ul>
						<li>Občanský průkaz (cestovní pas u zahraničních osob)</li>
					</ul>


					<ul>
						<li>Statutární zástupce (tj. osoba podepisující rámcovou smlouvu) a osoba či osoby oprávněné k&nbsp;obchodování s&nbsp;námi (tj. osoby, určené statutárním zástupcem společnosti, které s&nbsp;námi budou uzavírat jednotlivé obchody).</li>
						<li>Bankovní spojení klienta (korunový účet a máte-li, tak i cizoměnové účty).</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row b">
		<div class="large-3 large-offset-2 medium-4 hide-for-small-only columns">
			<img src="{{root}}assets/img/line1.png" alt="Čára">
		</div>
		<div class="large-6 end medium-8 columns">
			<div class="row">
				<div class="large-8 medium-9 columns text-right">
					<h3>Předání kontaktu na Dealera</h3>
					<p>Jakmile je tato smlouva podepsaná, Manažer devizových obchodů Vám předá kontakt na Vašeho Dealera, který Vás bude kontaktovat.</p>
				</div>
				<div class="large-4 medium-3 columns">
					<img src="{{root}}assets/img/icon_pro_klienta_2.png" alt="2.">
				</div>
			</div>
		</div>
	</div>

	<div class="row c">
		<div class="large-6 large-offset-1 medium-8 columns">
			<div class="row">
				<div class="large-3 medium-3 columns">
					<img src="{{root}}assets/img/icon_pro_klienta_3.png" alt="3.">
				</div>
				<div class="large-9 medium-9 columns">
					<h3>Sjednání obchodu</h3>

					<p>Telefonicky zjistíte aktuální kurz od svého dealera a dohodnete se na všech potřebných parametrech obchodu, čímž se obchod považuje za uzavřený.</p>

					<p>Dealer Vám pošle e-mailem Doklad o uzavřeném obchodu (dále jen „Konfirmaci“), kde je uvedeno číslo účtu SAB, dohodnutý kurz, objem a číslo účtu, kam od nás odchází směněný peněžní prostředky.</p>
				</div>
			</div>
		</div>
		<div class="large-4 end medium-4 hide-for-small-only columns">
			<img src="{{root}}assets/img/line2.png" alt="Čára">
		</div>
	</div>

	<div class="row d">
		<div class="large-3 large-offset-1 medium-4 hide-for-small-only columns">
			<img src="{{root}}assets/img/line3.png" alt="Čára">
		</div>
		<div class="large-8 medium-8 columns">
			<div class="row">
				<div class="large-8 medium-9 columns text-right">
					<h3>Vypořádání obchodu</h3>

					<p>Na základě zaslané Konfirmace poukážete peněžní prostředky na účet SAB.</p>

					<p>Po připsání Vašich peněžních prostředků na účet SAB vypořádáme uzavřený obchod ve Váš prospěch (na Váš účet, nebo na účet Vašeho zahraničního partnera) a e-mailem Vám zašleme Doklad o vypořádaném obchodě (Notifikaci).</p>
				</div>
				<div class="large-3 end medium-3 columns">
					<img src="{{root}}assets/img/icon_pro_klienta_4.png" alt="4.">
				</div>
			</div>
		</div>
	</div>
</section>
	
	<!--<section>
	
		<div class="row title_box" style="padding-bottom: 0;">
		
			<h2 class="title_decor">Jak s námi začít spolupracovat?</h2>
		
		</div>
		
		<div class="row classical_pad">
		
			<article class="part_50" id="pravnicka_osoba">
				
				<p>
					<img src="assets/img/item_arrow_in.png" alt=" " title=" " /> Jsem právnickou osobou, nebo fyzickou podnikající osobou
				</p>
			
			</article>
			
			<article class="part_50" id="fyzicka_osoba">
			
				<p><img src="assets/img/item_arrow_in_white.png" alt=" " title=" " /> Jsem fyzickou nepodnikající osobou</p>
			
			</article>
		
		</div>	
		
		<article class="row">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<img src="assets/img/icon_pro_klienta_1.png" alt=" " title=" " /> 
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Uzavření rámcové smlouvy online.
					
					</h3>
					
					<p>
					
						Smlouvu můžete jako fyzická osoba nepodnikající uzavřít
						online zde.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<img src="assets/img/icon_pro_klienta_2.png" alt=" " title=" " /> 
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Zaslání kontaktu na Dealera
					
					</h3>
					
					<p>
					
						Po uzavření smlouvu Vám pošleme kontakt na Dealera, který Vám bude 
						kdykoliv k jak pro ověření kurzu tak i uzavření obchodu.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row right_decor_history_item">		
		
			<div class="part_50 left">
			
				<div class="part_35">
				
					<img src="assets/img/icon_pro_klienta_3.png" alt=" " title=" " /> 
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Sjednání obchodu
					
					</h3>
					
					<p>
					
						Telefonicky zjistíte aktuální kurz od svého dealera a dohodnete 
						se na všech potřebných parametrech obchodu, čímž se obchod 
						považuje za uzavřený. Dealer Vám pošle e-mailem. Doklad 
						o uzavřeném obchodu (dále jen „Konfirmaci“), kde je uvedeno 
						číslo účtu SAB, dohodnutý kurz, objem a číslo účtu, kam od 
						nás odchází směněný peněžní prostředky.
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;
		
		<article class="row left_decor_history_item">		
		
			<div class="part_50 right">
			
				<div class="part_35">
				
					<img src="assets/img/icon_pro_klienta_4.png" alt=" " title=" " /> 
				
				</div>
				
				<div class="part_65">
				
					<h3>
					
						Vypořádání obchodu
					
					</h3>
					
					<p>
					
						Na základě zaslané Konfirmace poukážete peněžní prostředky na účet SAB
						Po připsání Vašich peněžních prostředků na účet SAB vypořádáme uzavřený obchod ve
						Váš prospěch (na Váš účet, nebo na účet Vašeho zahraničního partnera) a e-mailem Vám
						zašleme Doklad o vypořádaném obchodě (Notifikaci).
					
					</p>
				
				</div>
			
			</div>
	
		</article>
		
		&lt;!&ndash; ################################################################################################	&ndash;&gt;

		<div class="row center ">
		
			<a href="#" class="button" id="zajem_pop_up">Mám zájem</a>
		
		</div>
	
	</section>-->
	
	
	<section id="banking">
	
		<div class="row">
			<div class="small-12 columns">
				<h2 class="title_decor">Bankovní spojení</h2>
			</div>
		</div>

		<div class="row">
			<div class="medium-6 columns">
				<p>
					Není rozhodující, zda máte účet ve stejné bance jako my, umíme urychlit vypořádání mezi různými bankovními institucemi.
					Na jaký účet finanční obnos poslat, je uvedeno v Konfirmaci, která Vám přijde na Váš bezprostředně po uzavření každého obchodu.
				</p>
			</div>
			<div class="medium-6 columns">
				<ul class="einzwei">
					<li><strong>Express platba</strong> – urychlí vypořádání o 1 den</li>
					<li>
						<strong>Spolupracujeme s mezinárodními bankami</strong> – urychlíme
						platbu Vašim zahraničním partnerům až o 2 dny.
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<h3>Máme k dispozici účty v těchto bankách:</h3>
			</div>
		</div>
		
		<!--<div class="row">
			
			<div class="part_50">
			
				<p>
				
					Není rozhodující, zda máte účet ve stejné bance jako my, umíme urychlit vypořádání mezi různými bankovními institucemi. 
					Na jaký účet finanční obnos poslat, je uvedeno v Konfirmaci, která Vám přijde na Váš bezprostředně po uzavření každého obchodu.
					<br />
					<br />
					<br />
					Máme k dispozici účty v těchto bankách:

				
				</p>
			
			</div>
			
			<div class="part_50">
			
				<p>Express platba – urychlí vypořádání o 1 den</p>
				
				<p>Spolupracujeme s mezinárodními bankami – urychlíme 
					platbu Vašim zahraničním partnerům až o 2 dny.</p>
			
			</div>
			
		</div>-->
		
		<div class="row" id="banks" style="text-align: center;">
		
			<div class="part_10">
				<img src="assets/img/icon_nav_prev.png" alt=" " title=" " id="banks_prev" /> 
			</div>
			
			<div class="part_20">
				<h4>
					Československá obchodní 
					banka a. s.
				</h4>
			</div>
			
			<div class="part_20">
				<h4>
					Komerční banka a. s.
				</h4>
			</div>
			
			<div class="part_20">
				<h4>
					Česká spořitelna a s. 
				</h4>
			</div>
			
			<div class="part_20">
				<h4>
					GE Money Bank a. s. 
				</h4>
			</div>
			
			<div class="part_10">
				<img src="assets/img/icon_nav_next.png" alt=" " title=" " id="banks_next" class="right" /> 
			</div>
	
		</div>

		<!--<div class="row">
			<div class="small-12 columns">
				<div id="owl-example" class="owl-carousel">
					<div> Your Content </div>
					<div> Your Content </div>
					<div> Your Content </div>
					<div> Your Content </div>
					<div> Your Content </div>
					<div> Your Content </div>
					<div> Your Content </div>
				</div>
			</div>
		</div>-->

		<div class="row spodek">
			<div class="small-12 columns">
				<p>
					Na jaký účet finanční obnos poslat, je uvedeno v Konfirmaci, která Vám přijde na Váš bezprostředně po uzavření každého obchodu.
				</p>
				<h3>Nejčastěji obchodované měnové páry</h3>
				<p>EUR/CZK, USD/CZK, PLN/CZK, EUR/USD, EUR/GBP, EUR/HUF, EUR/RUB</p>
			</div>
		</div>
		<!--<div class="row">
		
			<p>
			
				Na jaký účet finanční obnos poslat, je uvedeno v Konfirmaci, která Vám přijde na Váš bezprostředně po uzavření každého obchodu.
				<br /><br /><br />
				<strong>Nejčastěji obchodované měnové páry</strong><br />
				EUR/CZK, USD/CZK, PLN/CZK, EUR/USD, EUR/GBP, EUR/HUF, EUR/RUB
			
			</p>
		
		</div>-->
	
	</section>
	
    <section class="sliderik" id="co_rikaji_backround" style="margin-top: 0;">
	
		<div class="row">
			
			<h2 class="sliderik_title"><span class="bold_text">Co o nás říkají</span> naši klienti?</h2>

		</div>
			
		<div class="row small-up-1 medium-up-3 large-up-3">
		
			<div class="column">

				<p  class="justify">
			
					Dle podkladů od Vás připravíme rámcovou
					smlouvu, kterou obě strany podepíší, smlouva 				
					je pro Vás....												<br /><br />

					<strong>Tomaš Neznámý, Společnost a. s.</strong>
		
				</p>
	
			</div>
				
			<div class="column">

				<p class="justify">
			
					Dle podkladů od Vás připravíme rámcovou
					smlouvu, kterou obě strany podepíší, smlouva 
					je pro Vás....												<br /><br />

					<strong>Tomaš Neznámý, Společnost a. s.</strong>
			
				</p>
		
			</div>
				
			<div class="column">

				<p class="justify">
			
					Dle podkladů od Vás připravíme rámcovou
					smlouvu, kterou obě strany podepíší, smlouva 
					je pro Vás....												<br /><br />

					<strong>Tomaš Neznámý, Společnost a. s.</strong>
			
				</p>
		
			</div>
			
		</div>
		
		<div class="row">
		
			<div class="row center" style="margin-top: 30px;">
			
				<a href="o-nas.html" class="button">Veškeré reference</a>
				
			</div>
		
		</div>
	
	</section>
	
	<section>
	
		<div class="row title_box">
		
			<h2 class="title_decor">
			
				Nejčastěji řešíte (FAQ)
				
			</h2>
		
		</div>
		
			<!--<article id="question_faq_box_1">
			
				<div class="row question_faq_box">
				
					<div class="part_90">
				
						<p>
					
							Proč využívat obchody přes SAB, když aktuálně využívám konkurenci?
					
						</p>
					
					</div>
					
					<div class="part_10">
					
						<span class="right question_faq_box_toogle"></span>
						
					</div>
				
				</div>
				
				<div class="row question_faq_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="question_faq_box_2">
			
				<div class="row question_faq_box">
				
					<div class="part_90">

						<p>
					
							Jakou mám jistotu vypořádání obchodu a poslání peněz zpět?
					
						</p>
					
					</div>
					
					<div class="part_10">
					
						<span class="right question_faq_box_toogle"></span>
				
					</div>
				
				</div>
				
				<div class="row question_faq_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="question_faq_box_3">
			
				<div class="row question_faq_box">
				
					<div class="part_90">
				
						<p>
					
							Co je základem pro spolupráci? Je spolupráce závazná?
					
						</p>
					
					</div>
					
					<div class="part_10">
					
						<span class="right question_faq_box_toogle"></span>
				
					</div>
				
				</div>
				
				<div class="row question_faq_box_showing">
				
					<p>
						Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
					</p>
					
					<ul>
						
						<li><pre>Tel: 		+420 267 22 02 02</pre></li>
						<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
					</ul>
				
				</div>
			
			</article>
			
			<article id="question_faq_box_2">
			
				<div class="row question_faq_box">
				
					<div class="part_90">
				
						<p>
					
							Proč má SAB nejvýhodnější kurzy na trhu?
					
						</p>
					
					</div>
					
					<div class="part_10">
					
						<span class="right question_faq_box_toogle"></span>
				
					</div>
				
				</div>
				
				<div class="row question_faq_box_showing">
					
					<div class="part_90">
					
						<p>
							Chcete se stát našim novým klientem, nebo se nás na cokoliv zeptat?
						</p>
						
					</div>
					
					<div class="part_10">
					
						<ul>
						
							<li><pre>Tel: 		+420 267 22 02 02</pre></li>
							<li><pre>E-mail: 	obchod@sab.cz</pre></li>
						
						</ul>
						
					</div>
				
				</div>
			
			</article>-->

		<div class="row">
			<div class="small-12 columns">
				<ul class="accordion faq" data-accordion data-allow-all-closed="true">
					<li class="accordion-item is-active" data-accordion-item>
						<a href="#" class="accordion-title">Proč využívat obchody přes SAB, když aktuálně využívám konkurenci?</a>
						<div class="accordion-content" data-tab-content>
							Placeholder
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Jakou mám jistotu vypořádání obchodu a poslání peněz zpět?</a>
						<div class="accordion-content" data-tab-content>
							I would start in the open state, due to using the `is-active` state class.
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Co je základem pro spolupráci? Je spolupráce závazná?</a>
						<div class="accordion-content" data-tab-content>
							I would start in the open state, due to using the `is-active` state class.
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Proč má SAB nejvýhodnější kurzy na trhu?</a>
						<div class="accordion-content" data-tab-content>
							I would start in the open state, due to using the `is-active` state class.
						</div>
					</li>
				</ul>

				<ul class="accordion faq animated slideInUp" data-accordion="ocoah8-accordion" data-allow-all-closed="true" role="tablist">
					<li class="accordion-item " data-accordion-item=""><a class="accordion-title" href="#" aria-controls="vrvp7e-accordion" role="tab" id="vrvp7e-accordion-label" aria-expanded="false" aria-selected="false">Co je základem pro spolupráci? Je spolupráce závazná?</a>

						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="vrvp7e-accordion-label" aria-hidden="true" id="vrvp7e-accordion">Pro spolupráci je nutné uzavřít „Rámcová smlouvu o platebních službách“ (dále jen „Rámcová smlouva“). Tato smlouva Vás opravňuje k&nbsp;provádění devizových transakcí. Obchodování s&nbsp;námi není závazné z&nbsp;hlediska periodicity ani objemu směny.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="818z7i-accordion" role="tab" id="818z7i-accordion-label" aria-expanded="false" aria-selected="false">Jak se dělají zněny / doplnění / vymazání údajů uvedených v&nbsp;rámcové smlouvě? </a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="818z7i-accordion-label" aria-hidden="true" id="818z7i-accordion">Pro Vaši maximální bezpečnost kontaktujte pro provedení změny / doplnění / vymazání Manažera devizových obchodů nebo Dealera, který v&nbsp;případě potřeby připraví dodatek ke smlouvě, jenž svým popisem stvrdí statutární orgán Vaší společnosti.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="y1rwiz-accordion" role="tab" id="y1rwiz-accordion-label" aria-expanded="false" aria-selected="false">Jakou mám jistotu vypořádání obchodu a poslání peněz zpět?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="y1rwiz-accordion-label" aria-hidden="true" id="y1rwiz-accordion">Jsme největší společností na devizovém trhu v České republice a do letošního roku s&nbsp;námi klienti směnili více než půl bilionu korun. Hlavní důvody bezpečnosti spočívají především v regulaci a dohledu&nbsp;ze strany České národní banky. Účty, na kterých se finanční prostředky z jednotlivých obchodů&nbsp;shromažďují, jsou odděleny od vlastního účetnictví společnosti a nejsou součástí majetkové podstaty platební instituce v případě jejího úpadku. Tou&nbsp;nejcennější referencí je však spokojenost všech našich spolupracujících klientů.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="zzkdj9-accordion" role="tab" id="zzkdj9-accordion-label" aria-expanded="false" aria-selected="false">Je nějaká minimální či maximální hranice obchodu se SAB?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="zzkdj9-accordion-label" aria-hidden="true" id="zzkdj9-accordion">Spodní hranice není omezena. Ta horní se odvíjí od konkrétního objemu obchodu a může se pohybovat v&nbsp;řádu desítek milionů EUR, či&nbsp;jeho ekvivalentu. Disponujeme dostatečně velkou likviditou, která umožňuje zobchodovat téměř jakoukoliv sumu.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="2jjpm2-accordion" role="tab" id="2jjpm2-accordion-label" aria-expanded="false" aria-selected="false">Proč má SAB nejvýhodnější kurzy na trhu?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="2jjpm2-accordion-label" aria-hidden="true" id="2jjpm2-accordion">Úzce se specializujeme pouze na oblast spotových obchodů a systém tzv. „párování“ umožňuje obchodovat kurzy na úrovni mezibankovního devizového trhu, resp. burzy. Tím dosahujeme nejvýraznějších úspor našim klientům.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="j738nx-accordion" role="tab" id="j738nx-accordion-label" aria-expanded="false" aria-selected="false">Je možné „pohlídat“ kurz a provést směnu po dosažení kurzu?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="j738nx-accordion-label" aria-hidden="true" id="j738nx-accordion">Ano, tzv. pevný/call „order“ provádíme vždy dle konkrétního požadavku klienta. Obchod rovnou vypořádáme, případně telefonujeme klientovi, že úroveň dosáhla požadované hodnoty.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="zsc9vy-accordion" role="tab" id="zsc9vy-accordion-label" aria-expanded="false" aria-selected="false">Proč využívat obchody přes SAB, když aktuálně využívám konkurenci?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="zsc9vy-accordion-label" aria-hidden="true" id="zsc9vy-accordion">Hlavním důvodem spolupráce s&nbsp;námi je Vaše úspora finančních prostředků. Nezávisle na tom, nevyužíváte konkurenci, Vám garantujeme dlouhodobě nejvýhodnější kurzy na trhu, čímž Vám realizujeme okamžitou finanční úsporu.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="2sojn8-accordion" role="tab" id="2sojn8-accordion-label" aria-expanded="false" aria-selected="false">Jak je to u Vás s&nbsp;poplatky?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="2sojn8-accordion-label" aria-hidden="true" id="2sojn8-accordion">Nechceme po našich klientech zbytečné poplatky. Více informací v&nbsp;této oblasti Vám sdělí Manažer devizových obchodů.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="znv5u9-accordion" role="tab" id="znv5u9-accordion-label" aria-expanded="false" aria-selected="false">Jak dlouho u Vás trvá vypořádání obchodu?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="znv5u9-accordion-label" aria-hidden="true" id="znv5u9-accordion">Standardní doba vypořádání obchodu ze strany SAB probíhá v&nbsp;rámci téhož dne, aby bylo zajištěno připsání peněžních prostředků na účet klienta v&nbsp;co nejkratší době tak, aby s&nbsp;nimi mohl disponovat.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="gkaxpw-accordion" role="tab" id="gkaxpw-accordion-label" aria-expanded="false" aria-selected="false">Provádí SAB vypořádání obchodu i mezi bankovními účty v&nbsp;různých bankách?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="gkaxpw-accordion-label" aria-hidden="true" id="gkaxpw-accordion">V&nbsp;současné době máme otevřené účty u mnoha bankovních institucí, a díky tomu dokážeme vypořádávat obchody dle požadavku klienta i v&nbsp;rámci několika bankovních účtu mezi sebou během několika minut (v případě, že je banka příjemce platby totožná s&nbsp;bankou, v&nbsp;níž máme veden účet). Jestliže potřebujete peníze převést na účet banky, kde účty vedené nemáme, dokážeme platbu urychlit tzv. expresní platbou.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="q7ub73-accordion" role="tab" id="q7ub73-accordion-label" aria-expanded="false" aria-selected="false">Pomůže mi SAB se zahraničním platebním stykem?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="q7ub73-accordion-label" aria-hidden="true" id="q7ub73-accordion">Chcete-li směněný obnos dále zaslat svému zahraničnímu partnerovi, můžeme Vám zjednodušit situaci tím, že odešleme tuto platbu za Vás. Odpadne Vám tak zadávání dalšího příkazu a navíc díky našemu partnerství s&nbsp;mezinárodními bankami urychlíme platbu do zahraničí až o dva dny.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="ruff6c-accordion" role="tab" id="ruff6c-accordion-label" aria-expanded="false" aria-selected="false">Jak dlouho trvá vypořádání obchodu?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="ruff6c-accordion-label" aria-hidden="true" id="ruff6c-accordion">Standardní doba vypořádání obchodu ze strany SAB probíhá v&nbsp;rámci téhož dne, tím je zajištěno připsání peněžních prostředků na účet klienta v&nbsp;co nejkratší době tak, aby s&nbsp;nimi mohl disponovat.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="4tq8b3-accordion" role="tab" id="4tq8b3-accordion-label" aria-expanded="false" aria-selected="false">Obchoduje SAB i exotické měny?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="4tq8b3-accordion-label" aria-hidden="true" id="4tq8b3-accordion">Naše společnost Vám ráda smění jakoukoliv veřejně obchodovatelnou měnu, případně za Vás v&nbsp;této měně pošle finanční prostředky Vašemu zahraničnímu partnerovi.</div>
					</li>
					<li class="accordion-item" data-accordion-item=""><a class="accordion-title" href="#" aria-controls="z5fcj3-accordion" role="tab" id="z5fcj3-accordion-label" aria-expanded="false" aria-selected="false">Mohu uzavřít Smlouvu o platebních službách jako fyzická osoba?</a>
						<div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="z5fcj3-accordion-label" aria-hidden="true" id="z5fcj3-accordion">Ano. Máte-li privátní potřebu na směnu peněžních prostředků, rádi Vám takovou směnu zajistíme.</div>
					</li>
				</ul>
			</div>
		</div>


			
		<div class="row center" style="margin-top: 60px;">
		
			<a href="#" class="button">Veškeré dotazy</a>
		
		</div>
	
	</section>
	
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->
    
	<div class="row" id="information_box">
			
			  <div class="part_60">
			
				<h3>
					Zajímají Vás bližší informace, nebo se chcete stát<br />
					novým klientem? <span class="text_light">Dejte nám vědět!</span>
				</h3>
				
			  </div>
			  
			  <div class="part_40" style="text-align: right;">
			  
					<a href="kontakt.html" class="buttonik">Napište nám</a>
					<span class="information_item_move">+420 <span class="bold_text" style="padding-right: 20px;">123 456 789</span> nebo</span>
			  
			  </div>
			
		
	</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    
	<footer>
	
		<div class="sector" id="newsletter_section">
		
			<!--<div class="row">
			
				<div class="part_70">
				
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>
				
					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva 
						je pro Vás....
					</p>
				
				</div>
				
				<div class="part_30">
					
					<input type="email" class="input_button" name="email" placeholder="Vložte Vaši emailovou adresu" />
					<input type="submit" class="input_button_submit" value="ok" />
					
				</div>
				
			</div>-->

			<div class="row newsLetter">
				<div class="large-6 columns">
					<h2 class="white_text">Přihlásit se k odběru novinek</h2>

					<p>
						Dle podkladů od Vás připravíme rámcovou smlouvu, kterou obě strany podepíší, smlouva
						je pro Vás....
					</p>
				</div>
				<div class="large-5 columns">
					<div class="input-group">
						<input class="input-group-field" type="email" placeholder="Vložte Vaši emailovou adresu">
						<div class="input-group-button">
							<input type="submit" class="button" value="ok">
						</div>
					</div>
				</div>
			</div>
		
		</div>
	
	<!-- #################################################################################################################################################
	
		SECTION BREAK
	
	################################################################################################################################################# -->	
    	
		<div class="sector" id="footer_contact_section">
		
	  	  <div class="row">
		
			<div class="part_20">
				
				<ul>
				
					<li class="bold_text">Sídlo společnosti - Praha</li>
					<li>SAB Finance a.s.</li>
					<li>Senovážné nám. 1375/19</li>
					<li>110 00 Praha 1 - Nové Město</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>

					<li class="bold_text">Provozovna - Zlín</li>
					<li>SAB Finance a.s.</li>
					<li>Sadová 7</li>
					<li>760 01 Zlín</li>
				
				</ul>
				
			</div>
			
			<div class="part_20">
				
				<ul>		
				
					<li class="bold_text"><pre>IČ:  24717444</pre></li>
					<li class="bold_text"><pre>DIČ: CZ24717444</pre></li>
				
				</ul>
				
			</div>
			
			<div class="part_40">
				
				<a href="http://www.dgstudio.cz/" target="_blank"><img src="assets/img/footer_logo.png" alt="vyrobilo DGstudio" title="autor" class="right dgs_logo" /></a>
				
			</div>
			
		  </div>
		
		</div>
		
	</footer>

<!--

    <script src="assets/js/app.js"></script>
  </body>
</html>-->
