{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="all: dg studio; www.dgstudio.cz; info@dgstudio.cz" />
    <meta name="robots" content="all,follow" />
    <meta name="googlebot" content="snippet,archive" />
    <meta name="resource-type" content="document" />

    <meta name="description" content="půjčovna nářadí a stavební techniky, půjčovna zahradní techniky," />
    <meta name="keywords" content="Recepty, databaza, domace recepty" />

    <title>SAB finance</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div id="loader"><img src="{{root}}assets/img/logoSab.png" alt="sab"></div>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  <script type="text/javascript">
    Timeline.init($("#timeline"));
  </script>
  </body>
</html>